<template>
  <div v-if="!$fetchState.pending" class="d-flex flex-column">
    <div class="pa-6 align-self-end d-flex">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <v-icon color="accent" v-text="'mdi-text-box-outline'"/>
          <div class="text-h4 ml-3">{{ rowData.articles_count }}</div>
        </div>
        <div class="text-h5 text--secondary">материалов</div>
      </div>
      <div class="d-flex ml-10 flex-column">
        <div class="d-flex">
          <v-icon color="accent" v-text="'mdi-account-group-outline'"/>
          <div class="text-h4 ml-3">{{ rowData.users_count }}</div>
        </div>
        <div class="text-h5 text--secondary">пользователей</div>
      </div>
    </div>
    <v-row>
    <v-col cols="12" lg="6" xl="4">
      <non-public-block :data="filterNonPublicArticle"/>
    </v-col>
    <v-col cols="12" lg="6" xl="4">
      <time-line-publications :data="publicationStatics"/>
    </v-col>
    <v-col cols="12" lg="6" xl="4">
      <most-popular-articles :data="rowData.most_popular_articles"/>
     </v-col>
    <v-col cols="12" lg="6" xl="4">
      <public-block :data="filterPublicArticle"/>
    </v-col>
    <v-col cols="12" lg="6" xl="4">
      <top-users :data="rowData.top_users"/>
    </v-col>
    <v-col cols="12" lg="6" xl="4">
      <private-users-rating :data="rowData.private_rating"/>
    </v-col>
  </v-row>
  </div>
</template>

<script>

import NonPublicBlock from '../components/dashBoardComponents/nonPublicBlock'
import PublicBlock from '../components/dashBoardComponents/PublicBlock'
import TopUsers from '../components/dashBoardComponents/topUsers'
import axiosErrorHandling from '../assets/js/errorsHandling'
import TimeLinePublications from '../components/dashBoardComponents/timeLinePublications'
import MostPopularArticles from '../components/dashBoardComponents/mostPopularArticles'
import PrivateUsersRating from '../components/dashBoardComponents/privateUsersRating'

export default {
  components: { PrivateUsersRating, MostPopularArticles, TimeLinePublications, TopUsers, PublicBlock, NonPublicBlock },
  data () {
    return {
      rowData: undefined,
      nonPublicStatuses: [2, 4] // какие статусы относятся к неопубликованным,  2- на экспертизе и 4 - отказано
    }
  },
  computed: {
    // выборка неопубликованных статей
    filterNonPublicArticle () {
      return this.rowData.articles_counts
        .filter(item => this.nonPublicStatuses.includes(item.status_article))
    },
    // выборка опубликованных статей
    filterPublicArticle () {
      return this.rowData.articles_counts
        .filter(item => item.status_article === 3)
    },
    publicationStatics () { // подготовка данных для timeline статистика публикаций
      const values = [{ caption: 'Опубликовано', field: 'created_statistic' }, // 2 графика
        { caption: 'Обновлено', field: 'updated_statistic' }]
      return values.map(item => ({
        data: this.rowData[item.field].map(item2 => ({
          x: item2.date,
          y: item2.count
        })),
        name: item.caption
      }))
    }
  },
  async fetch () {
    const url = '/getArticlesStat'
    const config = null
    try {
      this.rowData = await this.$axios.$get(url, config)
    } catch (err) {
      await axiosErrorHandling(err, this)
    }
  }
}
</script>

<style scoped>

</style>
