<template>
  <v-row>
    <v-col v-show="postFilter" cols="12" md="4" xl="3">
      <PostFilters
        v-if="loadedRelatives && !$fetchState.pending"
        :input="articles"
        :filter-elements="PostFilterElements"
        @output="filterEvent"
        @btn-filter="btnFilter"
      />
    </v-col>
    <v-col cols="12" :md="postFilter?'8':'12'" :xl="postFilter?'9':'12'">
      <SearchPanel
        :total-items="totalItems"
        :on-first-page="paginatorOnFirstPage"
        @post-filter="postFilter=!postFilter"
        @on-page-item="changeOnPageItems"
      >
        <template #sorting>
          <Sorter @output="sorterEvent" />
        </template>
      </SearchPanel>
      <v-row justify="space-around">
        <v-col
          v-for="article in articlesHandled"
          :key="article.id"
          cols="auto"
          :lg="postFilter?'6':'4'"
          :xl="postFilter?'4':'3'"
        >
          <Card
            :article="article"
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>

import { mapGetters } from 'vuex'
import FilterObject from '../assets/js/filters'
import axiosErrorHandling from '../assets/js/errorsHandling'

export default {
  data () {
    return {
      articles: [], // статьи полученные с сервера
      postFiltered: undefined, // пост фильтрованные данные
      filter_string: null, // строка поля поиск
      paginatorOnFirstPage: false, // сигнал и переходе пагинатора на 1-ю страницу
      // filtered_types_data: null, // данные, отфильтрованные фильтром браузера
      countItemsOnPage: undefined, // кол-во элементов на странице
      postFilter: true, // показывать постфильтер
      PostFilterElements: [
        new FilterObject('simple', this.$store, { field: 'type_article', title: 'Тип публикации' }),
        new FilterObject('simple', this.$store, { field: 'status_article', title: 'Статус публикации' }),
        new FilterObject('tags', this.$store, { title: 'Тэги' })
      ], // фильтрующие элементы постфильтра
      sortingFunction: undefined // выбранная функция сортировки
    }
  },
  async fetch () {
    // const config = {} // определяется config запроса
    // параметры запроса
    // let sort
    // const limit = 100000
    this.postFiltered = undefined // обнуляем массив отфильрованных статей
    this.postSorted = undefined // обнуляем массив сортированных статей

    const fields = ['id', 'title_article', 'cover_img', 'type_article', 'rating', 'status_article', 'created_at', 'counter'] // выборка нужных полей
    // const url = '/table/knowledgebase_articles/get'
    const url = '/articles'
    // запрос
    // const data = { filter, fields, filter_type: 'or', sort, limit, mini: true } //  mini=true  - без дополнительных описаний columns
    const params = { fields } //  mini=true  - без дополнительных описаний columns
    if (this.$route.query.search) params.filter = this.$route.query.search // строка фильтра
    try {
      // const result = await this.$axios.$post(url, data, config)
      const preResult = await this.$axios.$get(url, { params })
      const result = preResult.rows
      // if (!result.error) {
      if (this.sortingFunction) { result.sort(this.sortingFunction) } // если выбран пункт сортировки, то сортируем
      // if (this.sortingFunction) { result.rows.sort(this.sortingFunction) } // если выбран пукт сортировки, то сортируем
      this.articles = result
    } catch (err) {
      await axiosErrorHandling(err, this)
    }
  },
  computed: {
    ...mapGetters({
      // достаем из vuex нужные нам геттеры
      getTagByID: 'guides/getTagByID',
      loadedRelatives: 'relatives/guideLoaded' // признак загрузки таблицы связей
    }),
    articlesHandled () { // фильтруем по пагинации (после фильтра)
      return this.pagination(this.postFiltered || this.articles)
    },
    totalItems () { // кол-во публикаций в данный момент до пагинации
      const arr = this.postFiltered || this.articles
      return arr.length
    }
  },
  watch: { // при обновлении параметра строки браузера заново получаем данные
    '$route.query.search': '$fetch'
  },
  methods: {
    // кнопки смены положения элементов фильтра
    btnFilter (cmd) {
      if (cmd.up) {
        this.PostFilterElements[cmd.up] = this.PostFilterElements.splice(cmd.up - 1, 1, this.PostFilterElements[cmd.up])[0]
      } else {
        this.PostFilterElements[cmd.down + 1] = this.PostFilterElements.splice(cmd.down, 1, this.PostFilterElements[cmd.down + 1])[0]
      }
    },
    // от сортировщика получаем функцию для сортировки
    sorterEvent (compare) {
      // контекст зависит от того, фильтровали данные или нет
      this.sortingFunction = compare // сохраняем на случай фетча выбранную функцию сортировки
      // сортируем в 2-х массивах
      this.articles.sort(compare) // при изменениях в постфильтре данные потом возьмутся отсюда
      if (this.postFiltered) { this.postFiltered.sort(compare) } // если постфильтр используется, то данные отображаются отсюда
      // // переход на первую страницу с сохраненем параметра поиска
      const query = Object.assign({}, this.$route.query) // копируем параметры из uri
      delete query.page // удаляем инфу о странице
      this.paginatorOnFirstPage = !this.paginatorOnFirstPage // сигнал в SearchPanel об изменение страницы на первую
      this.$router.push({ to: '/', query })
    },
    // от фильтра получаем отфильтрованный массив данных
    filterEvent (newval) {
      this.postFiltered = newval
      // переход на первую страницу с сохраненем параметра поиска
      const query = Object.assign({}, this.$route.query) // копируем параметры из uri
      delete query.page // удаляем инфу о странице
      this.paginatorOnFirstPage = !this.paginatorOnFirstPage // сигнал в SearchPanel об изменение страницы на первую
      this.$router.push({ to: '/', query })
    },

    // выборка статей по фильтру пагинации
    pagination (items) {
      const currentPage = this.$route.query.page || 1
      const start = (currentPage - 1) * this.countItemsOnPage
      const end = currentPage * this.countItemsOnPage
      return items ? items.slice(start, end) : undefined
    },
    changeOnPageItems (value) {
      // получение от SearchPanel кол-во статей на странице
      this.countItemsOnPage = value
    }
  }
}

</script>
