<template>
  <v-card max-width="350" class="pa-2 mx-auto">
    <v-card-title>Авторизация</v-card-title>
    <v-form class="ps-1" @submit.prevent="userLogin">
      <v-text-field v-model="login.login" required type="text" autofocus label="Логин" />
      <v-text-field
        v-model="login.password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        required
        label="Пароль"
        @click:append="showPassword = !showPassword"
      />
      <div>
        <v-btn color="primary" type="submit" :disabled="okDisabled">
          OK
        </v-btn>
      </div>
    </v-form>
  </v-card>
</template>

<script>
export default {
  layout: 'guest', // используется layer guest, который не загружает справочники и не имеет меню
  data () {
    return {
      login: {
        login: '',
        password: ''
      },
      showPassword: false,
      okDisabled: false
    }
  },
  methods: {
    async userLogin () {
      this.okDisabled = true
      try {
        await this.$auth.loginWith('local', { data: this.login })
        // this.$auth.setUser(response.data.user)
        // this.$auth.$storage.setLocalStorage('token', this.$auth.strategy.token.get())
        // this.$auth.$storage.setLocalStorage('user', response.data.user)
        // TODO expiration date берется не из ответа сервера, а задаётся в настройках nuxt
        this.$toast.success(`Авторизация ${this.login.login} успешна`, { duration: 2500 })
        await this.$router.push('/')
      } catch (err) {
        this.$toast.error(`Авторизация ${this.login.login} не удалась ${err.message}`, { duration: 5000 })
        this.okDisabled = false
      }
    }
  }
}
</script>
