<template>
  <div>logging out</div>
</template>

<script>
export default {
  async mounted () {
    // this.$auth.$storage.removeLocalStorage('token')
    await this.$auth.logout('local')
    this.$auth.$storage.removeLocalStorage('user')
    this.$auth.strategy.token.reset()
    console.log('logout токены удаляли', this.$auth.strategy.token.get())
    // await this.$router.push('login')
  }
}
</script>

<style scoped>

</style>
