<template>
  <v-card>
    <div v-if="$fetchState.pending">
      <v-progress-circular indeterminate/>
    </div>
    <div v-else>
      <v-card v-if="filesStructure">
        <v-row>
          <v-col cols="3">
            <v-tabs
            vertical
            v-model="currentTab">
              <v-tab @click="dirToRoot" class="justify-start" v-for="(item,index) in mainDirectories" :key="item[0]">
                {{ index+1 }}. {{ item[0] }}
              </v-tab>
            </v-tabs>
          </v-col>
          <v-col cols="9">
              <v-data-iterator
                  hide-default-footer
                  no-data-text="нет файлов"
                  :items="parsingDirs">
                  <template v-slot:default="props">
                    <v-row dense>
                        <v-col cols="6" v-for="fileItem in props.items" :key="fileItem.name" align-self="start">
  <!--                        <v-card-title class="subheading font-weight-bold">-->
  <!--                          {{ item.name }}-->
  <!--                        </v-card-title>-->
                          <file-component @object-click="objectClick(fileItem)" :fileItem="fileItem"/>
                        </v-col>
                    </v-row>
                  </template>
                  <template v-slot:header>
                      <files-tool-bar
                          :dirItems="currentPath"
                          :freeSpace="freeSpace"
                          @make-dir="mkdir"
                          @refresh-dir="$fetch"
                          @back-dir="backDir"/>
                  </template>
                  <template v-slot:footer>
                    <select-files-component @add-files-to-server="addFilesToSever" :loadButtonStatus="loadButtonStatus"/>
                  </template>
              </v-data-iterator>

          </v-col>
        </v-row>
      </v-card>
      <div v-else> Данная публикация не имеет файлового хранилища <v-btn dark color="primary" @click="linkFileStorage">Привязать файловое хранилище</v-btn></div>
    </div>
  </v-card>
</template>

<script>
import axiosErrorHandling from '../../assets/js/errorsHandling'
// import niceBytes from '../../assets/js/byteSizeFormatter'
import filesToolBar from './filesToolBar'
import fileComponent from './fileComponent'
import { getNestedObject } from '../../assets/js/helpers'
import selectFilesComponent from './selectFilesComponent'

export default {
  components: { filesToolBar, fileComponent, selectFilesComponent },

  props: {
    articleID: { type: String, required: true }
  },
  data () {
    return {
      filesStructure: undefined,
      currentTab: 0, // текущий таб
      currentPath: [], // текущий путь
      dialogMkDir: false, // диалоговое окно создания папки
      freeSpace: undefined, // свободное место
      loadButtonStatus: false // статус загрузки на кнопке загрузки
    }
  },
  computed: {
    mainDirectories () {
      return Object.entries(this.filesStructure).filter(item => item[1].type === 'dir')// берем только директории
    },
    fullDirsPath () {
      // полный путь это главная директория + остальной путь
      let result = `/${this.mainDirectories[this.currentTab][0]}`
      if (this.currentPath.length) result += `/${this.currentPath.join('/')}`
      return result
    },
    parsingDirs () {
      // получаем вложенный объект исходя из текущего пути
      const nestedDir = getNestedObject(this.mainDirectories[this.currentTab][1], this.currentPath)
      return Object.entries(nestedDir.content)
        .filter(item => !!item[1]) // объекты с значением false и null отфильтруем (костыли php)
        .map(item => Object.assign(item[1], {
          name: item[0],
          icon: item[1].type === 'file' ? 'mdi-file-document-multiple-outline' : 'mdi-folder-outline'
        })
        )
    },
    fullPath () { // возвращает текущий путь в виде строки
      let result = `/${this.mainDirectories[this.currentTab][0]}`
      if (this.currentPath.length) { // если вложенная папка
        result += `/${this.currentPath.join('/')}`
      }
      return result
    }
  },
  methods: {
    async mkdir (dirName) { // TODO проверки на фронте и бэке на создание существующей директории
      const url = '/upload-files-mkDir'
      const data = {
        article: this.articleID,
        nameDir: dirName,
        path: this.fullDirsPath
      }
      try {
        const result = await this.$axios.$post(url, data)
        this.filesStructure = result.files_structure // обновляем информацию
      } catch (err) {
        await axiosErrorHandling(err, this)
      }
    },

    // отправка новых файлов на сервер
    async addFilesToSever (filesHandlerList) {
      const url = '/upload-files-add'
      // отправляем на сервер только со статусом DONE
      const filesData = filesHandlerList
        .filter(item => item.state === FileReader.DONE)
        .map(item => ({
          name: item.name,
          file: item.result,
          hash: item.hash
        }))
      const data = {
        article: this.articleID,
        files: filesData,
        path: `${this.fullPath}`
      }
      console.log('отправляем на сервер ', data)
      this.loadButtonStatus = true // включаем спиннер на кнопке
      try {
        // api.$post(url, data)
        const result = await this.$axios.$post(url, data)
        this.filesStructure = Object.assign(this.filesStructure, result.files_structure) // обновляем информацию
        this.freeSpace = result.freeSpace
        this.loadButtonStatus = false // выключаем спиннер на кнопке
      } catch (err) {
        await axiosErrorHandling(err, this)
        this.loadButtonStatus = false // выключаем спиннер на кнопке
      }
    },
    async linkFileStorage () {
      this.getDataFromServer('init')
    },
    async getDataFromServer (mode) {
      const artID = this.$route.params.id // номер статьи из строки запроса
      const url = `/upload-files-${mode}/${artID}`
      try {
        const result = await this.$axios.$get(url)
        if (Object.keys(result.files_structure).length) {
          this.filesStructure = result.files_structure
          this.freeSpace = result.freeSpace
          this.filesStructure = Object.assign(this.filesStructure, result.files_structure)
        }
      } catch (err) {
        await axiosErrorHandling(err, this)
      }
    },
    objectClick (selectedItem) {
      this.currentPath.push(selectedItem.name)
    },
    dirToRoot () {
      this.currentPath.splice(0, this.currentPath.length) // когда кликаем таб, то текущий путь сбрасывается в корневую директорию
    },
    backDir () {
      this.currentPath.pop()
    }
  },

  async fetch () {
    await this.getDataFromServer('read')
  }
}
</script>

<style scoped>

</style>
