<template>
  <v-toolbar
    flat
    color="accent"
    dark
  >
    <v-toolbar-title>Менеджер файлов</v-toolbar-title>
    <v-spacer/>
    <div class="d-flex align-center">Вложенная папка: <v-breadcrumbs :items="breadCrumbs"/></div>
    <v-btn :disabled="!dirItems.length" icon>
      <v-icon @click="dirBack" v-text="'mdi-backspace-outline'"/>
    </v-btn>
    <v-spacer/>
    <div>Свободное место: <span v-if="freeSpace!==undefined">{{ freeSpace }}  Мб.</span>
    </div>
    <v-btn icon @click="refreshFolder">
      <v-icon v-text="'mdi-folder-refresh-outline'"/>
    </v-btn>
    <v-dialog
      v-model="dialogMkDir"
      width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          icon>
          <v-icon v-text="'mdi-folder-multiple-plus-outline'"/>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>Создание новой папки</v-card-title>
        <v-card-text>
          <v-text-field
            v-model="newDirName"
            clearable
            autofocus
            placeholder="Введите имя новой папки"/>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="mkDirClick" color="primary">Ok</v-btn>
          <v-btn @click="dialogMkDir = false">Отмена</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

  </v-toolbar>
</template>

<script>
export default {
  data () {
    return {
      dialogMkDir: false, // диалоговое окно создания папки
      newDirName: undefined // имя папки
    }
  },
  props: {
    freeSpace: { type: Number }, // свободное место в хранилище
    dirItems: { type: Array, required: true }
  },
  computed: {
    breadCrumbs () {
      return this.dirItems.map(item => ({
        text: item
      }))
    }
  },
  methods: {
    mkDirClick () {
      this.dialogMkDir = false //  закрываем окно
      this.$emit('make-dir', this.newDirName)
    },
    dirBack () {
      this.$emit('back-dir') // в предыдущуюю папку
    },
    refreshFolder () {
      this.$emit('refresh-dir') // обновить инфу с ЯД
    }
  }

}
</script>

<style scoped>

</style>
