<template>
  <v-card @click="folderClick" class="ma-3 pa-2" :color="fileItem.type === 'dir'?'light-blue lighten-4':'lime lighten-4'" elevation="5">
    <v-row>
          <v-col cols="7">{{ fileItem.type === 'dir'?'Папка':'Файл'}}: {{ fileItem.name }}</v-col>
          <v-col cols="3" v-if="fileItem.fileSize">Размер: {{ fileItem.fileSize }} байт</v-col>
          <v-col cols="2">
            <v-btn cols="12" icon v-if="fileItem.fileSize && !tempLink" @click="btnGetLink(fileItem.idContainer)">
              <v-icon >{{ button }}</v-icon>
            </v-btn>
            <v-btn cols="12" icon v-if="tempLink" :href="tempLink" download>
              <v-icon v-text="'mdi-cloud-download-outline'"/>
            </v-btn>
          </v-col >
    </v-row>
  </v-card>
</template>

<script>
import axiosErrorHandling from 'assets/js/errorsHandling'

export default {
  props: {
    fileItem: { type: Object, required: true }
  },
  data () {
    return {
      tempLink: undefined,
      button: 'mdi-download-circle-outline'
    }
  },
  methods: {
    folderClick () {
      console.log('fileComponent ', this.fileItem)
      if (this.fileItem.type === 'dir') {
        this.$emit('object-click')
      }
    },
    async btnGetLink (idContainer) {
      const url = `/upload-files-get-link/${idContainer}`
      this.button = 'mdi-progress-download'
      try {
        const preResult = await this.$axios.$get(url)
        this.tempLink = preResult.tempLink
      } catch (err) {
        await axiosErrorHandling(err, this)
      }
    }
  }

}
</script>

<style scoped>

</style>
