<template>
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header>
        Файлы публикации
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-lazy>
          <files-module-manager :articleID="articleID"/>
        </v-lazy>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import filesModuleManager from './FilesModuleManager'

export default {
  components: { filesModuleManager },

  props: {
    articleID: { type: String, required: true }
  }

}
</script>

<style scoped>

</style>
