<template>
  <div>
    <v-file-input
      truncate-length="15"
      show-size
      counter
      multiple
      :error-messages="vInputFileErrors"
      :loading="!allLoadedStatus && filesHandlerList && !!filesHandlerList.length"
      chips
      :error-count="vInputFileErrors.length"
      v-model="selectedFiles"
      @change="loadingFormList"
      @click:clear="clearList"
    >
      <template v-slot:selection="{ text, index }">
        <v-chip
          label
          close
          @click:close="()=>{removeSelected(index)}"
        >
          Файл: {{ text }}
        </v-chip>
      </template>
    </v-file-input>
    <v-btn @click="addFilesToSever" :loading="loadButtonStatus"  :disabled="!allLoadedStatus || !filesHandlerList.length">
      Отправить файлы на сервер
      <template v-slot:loader>
        <v-progress-circular  indeterminate/>Загрузка на сервер, ждите...
      </template>
    </v-btn>
  </div>

</template>

<script>
import filesHandler from '../../assets/js/FileInputHandler'

export default {
  props: {
    loadButtonStatus: { type: Boolean, required: true }
  },
  data () {
    return {
      selectedFiles: undefined, // выбранные модулем vFileInput файлы
      filesHandlerList: undefined, // те же файлы выбранные модулем в виде объектов с промисами
      allLoadedStatus: undefined, // true - все файлы обработаны и готовы для загрузки
      vInputFileErrors: [] // ошибки для показа пользователю
    }
  },
  methods: {
    removeSelected (id) { // удаление файла из списка выбранных
      this.selectedFiles.splice(id, 1)
      this.filesHandlerList.splice(id, 1)
    },
    clearList () { // очистка списка
      this.filesHandlerList = []
      this.vInputFileErrors = []
      this.selectedFiles = []
    },
    checkingAllLoaded () { // проверка все ли файлы обработаны асинхронной функцией, тип 3 - ошибка
      this.allLoadedStatus = this.filesHandlerList.every(item => [FileReader.DONE, 3].includes(item.state))
    },
    loadingFormList () { // добавление файлов в форму загрузки
      this.allLoadedStatus = false // при нажатии кнопки статус в false
      this.filesHandlerList = filesHandler(this.selectedFiles)
      this.filesHandlerList.map(async item => {
        try {
          item.state = await item.loadingState // статус загрузки получаем через промисс
        } catch (e) { // повторный файл в данном списке
          item.state = 3
          this.vInputFileErrors.push(e.message)
        }
        this.checkingAllLoaded() // после каждого файла проверка, не загружены ли все
        return item
      })
    },
    addFilesToSever () {
      this.$emit('add-files-to-server', this.filesHandlerList)
      this.clearList()
    }
  }
}
</script>

<style scoped>

</style>
