// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 12px; // базовый размер шрифта (rem)

// заголовки H6 делаем поменьше. Они влияют на v-card-title
$headings: ('h6': (
'size': 1.1rem,
));

// card-title чтобы слова не ломались, а переносились полностью
$card-title-word-break: normal;

  // подгружаем константы цветов
@import '~vuetify/src/styles/styles.sass';

//  меняем настройки дизайна по умолчанию
$material-light: (
  'background': map-get($grey, 'lighten-3'),  // задаем цвет фона для main
  'app-bar': map-get($shades, 'white'),  // цвет фона для навигации
  'text': ('primary': map-deep-get($grey, 'darken-4')),  // основной цвет для текста
);


// размер шрифта бэйджа в топ юзерс
$badge-font-size: 14px;
