<template>
  <div>
    <component
      :is="article.template"
      v-if="!$fetchState.pending"
      :article="article.getFieldsForForm"
      :readOnly="!editMode"
      @change="nonSavedChanges=true">
      <template #title>
        <field-article-title v-model="article.getFieldsForForm.title_article.value" :readonly="!editMode" @change="nonSavedChanges=true"/>
      </template>
      <template #card>
        <info-card :article="article" :author="authorInfo" :cover-url="coverUrl"  :readonly="!permissions.canEdit"/>
      </template>
      <template #tags>
        <tags  :readOnly="!editMode" :tags="editedTags || allTagsOrOKVED" :categories="Object.keys(article.getFieldsForForm.tagsRules)" @tags-edit="tagEdit" />
      </template>
      <template #files>
        <files-module :articleID="$route.params.id"/>
      </template>
      <template #children>
        <children-module :children="children" :articleID="$route.params.id"/>
      </template>
      <template #parent>
        <parent-module :parent="parent"/>
      </template>
      <template #comments>
        <commentaries-module v-if="!$fetchState.pending" :idArticle=article.getFieldsForForm.id.value />
      </template>
      <template #buttons>
        <buttons-module v-if="!$fetchState.pending && visibleButtonsModule"
                        :permissions=permissions
                        :nonSavedChanges="nonSavedChanges"
                        :edit-mode="editMode"
                        :disabled="buttonsModuleDisabled"
                        @cancel-changes="cancelChanges"
                        @save-changes="saveChanges"
                        @action="buttonClick"/>
      </template>
    </component>
    <v-dialog v-model="dialogTagEdit" :fullscreen="$vuetify.breakpoint.mobile" max-width="70%">
      <tags-edit v-if="!$fetchState.pending && dialogTagEdit" :tags="editedTags || allTagsOrOKVED" :category="dialogTagEditCategory" @closing="dialogTagEdit = false" @tag-apply="saveTags" />
    </v-dialog>
    <v-dialog v-model="dialogOKVEDEdit" :fullscreen="$vuetify.breakpoint.mobile" max-width="70%">
      <okved-picker v-if="!$fetchState.pending" :init-values="editedTags || allTagsOrOKVED" @result-okved="saveOKVED" @cancel-okved="dialogOKVEDEdit=false" />
    </v-dialog>
  </div>
</template>

<script>
import ArticleObject from 'assets/js/articles'
import { mapGetters } from 'vuex'
import axiosErrorHandling from '../../assets/js/errorsHandling'
import FilesModule from '../../components/fileManager/FilesModule'
import CommentariesModule from '../../components/pageArticleModules/CommentariesModule'
import InfoCard from '../../components/pageArticleModules/InfoCard'
import TagsEdit from '../../components/pageArticleModules/TagsEdit'
import OkvedPicker from '../../components/pageArticleModules/OkvedPicker'
import Tags from '../../components/pageArticleModules/Tags'
import ButtonsModule from '@/components/pageArticleModules/ButtonsModule'
import ChildrenModule from '@/components/pageArticleModules/ChildrenModule'
import ParentModule from '@/components/pageArticleModules/ParentModule'
import FieldArticleTitle from '@/components/fieldCustomComponents/FieldArticleTitle'

export default {
  components: { FieldArticleTitle, ButtonsModule, Tags, OkvedPicker, TagsEdit, InfoCard, FilesModule, CommentariesModule, ChildrenModule, ParentModule },
  data: () => ({
    article: {},
    dialogTagEdit: false, // окно редактирования тэгов
    dialogOKVEDEdit: false, // окно редактирования ОКВЭД
    dialogTagEditCategory: undefined, // какую категорию редактируем
    default_type: { color: '', text: '', icon: '' }, // заглушка на то время, пока не загрузился справочник
    editedTags: undefined, // массив тэгов после редактирования
    permissions: undefined, // разрешения на действия со статьёй
    authorInfo: undefined, // информация об авторе статьи
    coverUrl: undefined, // обложка статьи
    children: undefined, // кейсы (дети)
    parent: undefined, // родитель (консалтинг)
    nonSavedChanges: false, // несохранённые изменения
    editMode: false, // режим редактирования
    buttonsModuleDisabled: false // отключение кнопок в модуле кнопок
  }),
  fetchOnServer: false,
  async fetch () {
    const config = {}
    const artID = this.$route.params.id // номер статьи из строки запроса
    const url = `/articles/${artID}`
    try {
      const result = await this.$axios.$get(url, config)
      // console.log('result', result)
      if (!result.error && result.rows.length) {
        // создаём новый объект из полученных с сервера данных
        this.article = new ArticleObject(result)
        // разрешения на действия со статьёй
        this.permissions = result.permissions // разрешения на действия
        this.authorInfo = result.authorInfo // информация об авторе
        this.coverUrl = result.coverUrl // обложка статьи
        if (result.children) this.children = result.children // информация о детях
        if (result.parent) this.parent = result.parent // информация о родителе
      } else {
        console.error('Ошибка', result.error)
      }
    } catch (err) {
      await axiosErrorHandling(err, this)
    }
  },
  head () {
    const title = (this.article && this.article.getFieldsForForm) ? this.article.getFieldsForForm.title_article.value : ''
    return { title: `Редактирование: ${title}` } // SEO title
  },
  computed: {
    visibleButtonsModule () { // если все разрешения false, то блок показывать не будем
      return Object.values(this.permissions).some(item => item)
    },
    // смешиваем результат mapGetters с внешним объектом computed
    ...mapGetters({
      articleStatuses: 'guides/article_statuses',
      articleTypes: 'guides/article_types',
      getTagByID: 'guides/getTagByID',
      getCategoryByName: 'guides/getCategoryByName'
    }),
    // возвращает массив всех тэгов+ОКВЭД данной статьи (объекты из таблицы связей)
    allLinks () {
      return this.$store.state.relatives.tags_articles
        .filter(item => item.article_id === this.article.getFieldsForForm.id.value)
    },
    // возвращает массив всех тэгов статьи (объекты) или Оквэд
    allTagsOrOKVED () {
      return this.allLinks
        .map(item => this.getTagByID(item)) // ID тэга преобразуем в объект
    }
  },
  methods: {
    // при клике на карточку тегов открывает или редактирование группы тегов или ОКВЭД
    tagEdit (category) {
      if (category === 'okved') {
        this.dialogOKVEDEdit = true
      } else {
        this.dialogTagEditCategory = category
        this.dialogTagEdit = true
      }
    },
    // сработало событие: ОКВЭД отредактирован
    saveOKVED (result) {
      this.dialogOKVEDEdit = false
      // если перовое редактирование, то за основу берем данные из allTags, иначе из editedTags
      const data = this.editedTags ? this.editedTags : this.allTagsOrOKVED
      // удаляем все ОКВЭД
      // если typeof item === 'string' , значит это ОКВЭД
      this.editedTags = data.filter(item => typeof item !== 'string')
      // добавляем в массив новые ОКВЭДы
      this.nonSavedChanges = true // включает кнопку Save
      this.editedTags = this.editedTags.concat(result)
    },
    // сработало событие: тэг отредактирован
    saveTags (param) {
      this.dialogTagEdit = false
      // если перовое редактирование, то за основу берем данные из allTags, иначе из editedTags
      const data = this.editedTags ? this.editedTags : this.allTagsOrOKVED
      // данные из только что отредактированной категории не берем
      this.editedTags = data.filter(item => item.category_id !== this.getCategoryByName(this.dialogTagEditCategory).id)
      this.nonSavedChanges = true // включает кнопку Save
      // а теперь мы их добавляем
      this.editedTags = this.editedTags.concat(param)
    },
    // проверка наличия обязательных тэгов
    validateTags () {
      const result = []
      Object.entries(this.article.getFieldsForForm.tagsRules).forEach(([key, value]) => {
        if (value === 'mandatory') {
          // берем измененный набор тэгов или текущие тэги
          const validArray = this.editedTags || this.allTagsOrOKVED
          const category = this.getCategoryByName(key)
          // ищем хотя бы один тэг с категорией CategoryID
          const res = validArray.some((item) => {
            // если typeof item === 'string' , значит это ОКВЭД
            if (key === 'okved') { return typeof item === 'string' } else { return item?.category_id === category.id }
          })
          if (!res) { result.push(category) }
        }
      })
      // выводим сообщение на экран
      result.forEach((item) => {
        this.$toast.error(`Категория тэгов "${item.caption_category}" является обязательной`, {
          iconPack: 'mdi',
          icon: `mdi-${item.category_icon}`,
          keepOnHover: true, // пока держишь курсор над сообщением, оно не зкарывается
          duration: 20000, // задержка 20 сек
          action: {
            icon: 'mdi-close-thick',
            onClick: (e, toastObject) => {
              toastObject.goAway(0)
            }
          }
        })
      })
      return result.length === 0 // если нет ошибок, то true
    },
    async buttonClick (button) {
      this.buttonsModuleDisabled = true
      if (button === 'canEdit') this.editMode = true
      else {
        if (button === 'toModeration' && (!this.article.validated || !this.validateTags())) {
          this.$toast.error('Для отправки на экспертизу заполните все поля пожалуйста', {
            iconPack: 'mdi',
            keepOnHover: true, // пока держишь курсор над сообщением, оно не закрывается
            duration: 2000, // задержка 2 сек
            action: {
              icon: 'mdi-close-thick',
              onClick: (e, toastObject) => {
                toastObject.goAway(0)
              }
            }
          })
          this.buttonsModuleDisabled = false
          return
        }
        const btnValues = { toPublication: 3, toModeration: 2, toDraft: 1, toArchive: 5, toDecline: 4 } // соответствия со значениями статусов статей
        const artID = this.$route.params.id // номер статьи из строки запроса
        const url = '/changeStatus'
        const data = {
          params: {
            status: btnValues[button],
            article_id: artID
          }
        }
        try {
          const result = await this.$axios.$get(url, data)
          if (result.error === 0) {
            this.$fetch()
            this.$toast.success('Статус публикации успешно изменён', { duration: 2500 })
          } else {
            this.$toast.error(result.message, { duration: 2500 })
          }
        } catch (err) {
          await axiosErrorHandling(err, this)
        } finally {
          this.buttonsModuleDisabled = false
        }
      }
    },
    // отмена изменений
    async cancelChanges () {
      this.editMode = false // выключаем режим редактирования
      // признак несохраненных изменений
      if (this.nonSavedChanges) {
        this.nonSavedChanges = false
        await this.$fetch()
      } // заново получаем данные с бэка
    },
    async saveChanges () {
      this.editMode = false // выключаем режим редактирования
      this.nonSavedChanges = false // признак несохраненных изменений
      const changedData = this.article.getSavedData
      const artID = this.$route.params.id // номер статьи из строки запроса
      // этап 1: сохранение измененных полей
      if (Object.keys(changedData).length) { // если есть данные для изменения
        const url = `/articles/${artID}`
        try {
          await this.$axios.$put(url, changedData)
        } catch (err) {
          await axiosErrorHandling(err, this)
        }
      }
      // этап 2: сохранение тэгов
      if (this.editedTags) {
        const url = `/tags_articles/${this.article.getFieldsForForm.id.value}`
        await this.$axios.$put(`${url}`, this.editedTags)
        // обновляем справочник связей статей и тэгов
        await this.$store.dispatch('relatives/set_relatives')
      }
      this.buttonsModuleDisabled = false
    }
  }

}
</script>

<style scoped>
</style>
