<template>
  <div>
    <component
        :is="article.template"
        v-if="article" :article="article.getFieldsForForm">
      <template #title>
        <v-card-title>{{ getArticleTypeByID(article.getFieldsForForm.type_article.value).name }}</v-card-title>
        <v-card-subtitle>тип новой публикации</v-card-subtitle>
        <field-article-title v-model="article.getFieldsForForm.title_article.value"/>
      </template>
      <template #select-parent>
        <field-select-parent v-model="article.getFieldsForForm.parent_article_id.value"  :consults="modelData.consulting_articles"/>
      </template>
      <template #buttons>
        <buttons-module v-if="!$fetchState.pending"
                        :permissions="{ canEdit: true }"
                        :nonSavedChanges="nonSavedChanges"
                        @action="saveArticle"/>
      </template>
      <template #tags>
        <tags :categories="Object.keys(article.getFieldsForForm.tagsRules)"  :tags="editedTags" @tags-edit="tagEdit" />
      </template>
    </component>
    <v-dialog
      v-model="dialogMaster"
      scrollable
      max-width="300px">
      <simple-master-new-article v-if="modelData" :model-data="modelData" @master-finish="masterFinish" />
    </v-dialog>
    <v-dialog v-model="dialogTagEdit" :fullscreen="$vuetify.breakpoint.mobile" max-width="70%">
      <tags-edit v-if="!$fetchState.pending && dialogTagEdit" :tags="editedTags" :category="dialogTagEditCategory" @closing="dialogTagEdit = false" @tag-apply="saveTags" />
    </v-dialog>
    <v-dialog v-model="dialogOKVEDEdit" :fullscreen="$vuetify.breakpoint.mobile" max-width="70%">
      <okved-picker v-if="!$fetchState.pending" :init-values="editedTags" @result-okved="saveOKVED" @cancel-okved="dialogOKVEDEdit=false" />
    </v-dialog>
  </div>
</template>

<script>
import ArticleObject from 'assets/js/articles'
import AddingComponent from '../../components/categoryTemplates/AddingComponent'
import axiosErrorHandling from '../../assets/js/errorsHandling'
import TagsEdit from '../../components/pageArticleModules/TagsEdit'
import OkvedPicker from '../../components/pageArticleModules/OkvedPicker'
import SimpleMasterNewArticle from '../../components/SimpleMasterNewArticle'
import Tags from '../../components/pageArticleModules/Tags'
import { mapGetters } from 'vuex'
import ButtonsModule from '@/components/pageArticleModules/ButtonsModule'

export default {
  components: { SimpleMasterNewArticle, OkvedPicker, TagsEdit, AddingComponent, Tags, ButtonsModule },
  fetchOnServer: false,
  // пустые объекты нужны, чтобы сайт не падал до получения данных
  data () {
    return {
      article: undefined,
      modelData: undefined,
      dialogTagEdit: false, // окно редактирования тэгов
      dialogOKVEDEdit: false, // окно редактирования ОКВЭД
      dialogTagEditCategory: undefined, // какую категорию редактируем
      editedTags: [], // массив тэгов после редактирования,
      dialogMaster: false, // мастер выбора типа статьи
      nonSavedChanges: false // несохранённые изменения
    }
  },
  async fetch () {
    const config = {}
    const url = '/articles/create'
    // получаем модель без данных
    try {
      this.modelData = await this.$axios.$get(url, config)
      if (this.$route.query.type) { // если в параметре строки указан тип статьи, то создаем объект
        const initData = { type_article: parseInt(this.$route.query.type) } // тип статьи из строки запроса
        if (this.$route.query.parent) initData.parent_article_id = parseInt(this.$route.query.parent) // id родительской статьи из uri
        this.modelData.rows.push(initData) // в данные помещаем номер статьи, т.к. это обязательная инфа
        // создаём объект
        this.article = new ArticleObject(this.modelData)
        console.log('add this.article', this.article)
      } else {
        this.dialogMaster = true
      }
    } catch (err) {
      await axiosErrorHandling(err, this)
    }
  },
  head () {
    return { title: 'Новая публикация' } // SEO title
  },
  computed: {
    // смешиваем результат mapGetters с внешним объектом computed
    ...mapGetters({
      getTagByID: 'guides/getTagByID',
      getCategoryByName: 'guides/getCategoryByName',
      // articleTypes: 'guides/article_types',
      getArticleTypeByID: 'guides/getArticleTypeByID'
    }),
    // возвращает массив всех тэгов+ОКВЭД данной статьи (объекты из таблицы связей)
    allLinks () {
      return this.$store.state.relatives.tags_articles
        .filter(item => item.article_id === this.article.getFieldsForForm.id.value)
    }
    // type_article_text () { // по коду типа статьи находим её название в справочнике
    //   const st = this.articleTypes
    //   const typeNumber = this.article.getFieldsForForm.type_article.value
    //   const name = st.find(item => item.value === typeNumber)
    //   return name?.text
    // }
  },
  methods: {
    async saveArticle () {
      // console.log('this.article', this.article)
      let data = this.article.getSavedData
      let url = '/articles'
      try {
        const newArticleInfo = await this.$axios.$post(url, data)
        // этап 2 тэги
        if (this.editedTags.length) {
          url = `/tags_articles/${newArticleInfo.id}`
          data = this.editedTags
          await this.$axios.$put(url, data)
          // обновляем справочник связей статей и тэгов
        }
        await this.$store.dispatch('relatives/set_relatives')
        this.$toast.success('Новая публикация добавлена', { duration: 2500 })
        this.$router.push(`/article/${newArticleInfo.id}`)
      } catch (err) { await axiosErrorHandling(err, this) }
      // обновляем справочник связей статей и тэгов
    },
    // выбран тип создаваемой статьи
    masterFinish (typeArticle) {
      this.dialogMaster = false
      console.log('typeArticle', typeArticle)
      const initData = { type_article: typeArticle.value } // тип статьи из строки запроса
      this.modelData.rows.push(initData) // в данные помещаем номер статьи, т.к. это обязательная инфа
      // создаём объект
      this.article = new ArticleObject(this.modelData)
    },
    // при клике на карточку тегов открывает или редактирование грыппы тегов или ОКВЭД
    tagEdit (category) {
      if (category === 'okved') {
        this.dialogOKVEDEdit = true
      } else {
        this.dialogTagEditCategory = category
        this.dialogTagEdit = true
      }
    },
    // сработало событие: ОКВЭД отредактирован
    saveOKVED (result) {
      this.dialogOKVEDEdit = false
      // если перовое редактирование, то за основу берем данные из allTags, иначе из editedTags
      const data = this.editedTags ? this.editedTags : this.allTagsOrOKVED
      // удаляем все ОКВЭД
      // если typeof item === 'string' , значит это ОКВЭД
      this.editedTags = data.filter(item => typeof item !== 'string')
      // добавляем в массив новые ОКВЭДы
      this.editedTags = this.editedTags.concat(result)
    },
    // сработало событие: тэг отредактирован
    saveTags (param) {
      this.dialogTagEdit = false
      // если перовое редактирование, то за основу берем данные из allTags, иначе из editedTags
      const data = this.editedTags ? this.editedTags : this.allTagsOrOKVED
      // данные из только что отредактированной категории не берем
      this.editedTags = data.filter(item => item.category_id !== this.getCategoryByName(this.dialogTagEditCategory).id)
      // а теперь мы их добавляем
      this.editedTags = this.editedTags.concat(param)
    }
  }

}
</script>

<style scoped>

</style>
