<template>
  <v-select
    :items="params.viewComponentParams.items"
    :label="params.viewComponentParams.title"
    multiple
    chips
    deletable-chips
    :hint="params.viewComponentParams.hint"
    clearable
    return-object
    @change="change"
  />
</template>

<script>
export default {
  props: { params: { type: Object, required: true } },
  data () {
    return {
      selectedData: undefined
    }
  },
  methods: {
    change (newValue) {
      this.$emit('changed', newValue)
    }
  }
}
</script>

<style scoped>

</style>
