<template>
  <div>
    <tags
      :categories="params.tagGroups"
      :tags="selectedTags"
      @tags-edit="tagEdit"
    />
    <v-dialog v-model="dialogTagEdit" :fullscreen="$vuetify.breakpoint.mobile" max-width="70%">
      <tags-edit
        v-if="dialogTagEdit"
        :selected-tags="selectedTags"
        :tags="params.tags"
        :category="dialogTagEditCategory"
        @closing="dialogTagEdit = false"
        @tag-apply="saveTags"
      />
    </v-dialog>
    <v-dialog v-model="dialogOKVEDEdit" :fullscreen="$vuetify.breakpoint.mobile" max-width="70%">
      <okved-picker :init-values="selectedTags" :exist-okved="params.tags" @result-okved="saveOKVED" @cancel-okved="dialogOKVEDEdit=false" />
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Tags from '../pageArticleModules/Tags'
import TagsEdit from '../pageArticleModules/TagsEdit'
import OkvedPicker from '../pageArticleModules/OkvedPicker'

export default {
  components: { OkvedPicker, TagsEdit, Tags },
  props: { params: { type: Object, required: true } },
  data () {
    return {
      dialogTagEdit: false, // окно редактирования тэгов
      dialogOKVEDEdit: false, // окно редактирования ОКВЭД}
      dialogTagEditCategory: undefined, // какую категорию редактируем
      selectedTags: [] // выбранные тэги
    }
  },
  computed: {
    ...mapGetters({
      // достаем из vuex нужные нам геттеры
      getCategoryByName: 'guides/getCategoryByName',
      getOkvedNameByID: 'guides/getOkvedNameByID'
    })
  },
  methods: {
    // при клике на карточку тегов открывает или редактирование грыппы тегов или ОКВЭД
    tagEdit (category) {
      if (category === 'okved') {
        this.dialogOKVEDEdit = true
      } else {
        this.dialogTagEditCategory = category
        this.dialogTagEdit = true
      }
    },
    saveTags (result) {
      this.dialogTagEdit = false
      // данные из только что отредактированной категории не берем
      this.selectedTags = this.selectedTags.filter(item => item.category_id !== this.getCategoryByName(this.dialogTagEditCategory).id)
      // объединяем с result
      this.selectedTags = this.selectedTags.concat(result)
      this.$emit('changed', this.selectedTags)
    },
    saveOKVED (result) {
      this.dialogOKVEDEdit = false
      // удаляем все ОКВЭД
      // если typeof item === 'string' , значит это ОКВЭД
      this.selectedTags = this.selectedTags.filter(item => typeof item !== 'string')
      // добавляем в массив новые ОКВЭДы
      this.selectedTags = this.selectedTags.concat(result)
      this.$emit('changed', this.selectedTags)
    }
  }
}
</script>

<style scoped>

</style>
