<template>
  <v-app>
    <v-navigation-drawer
      permanent
      app
      mini-variant>
      <v-list flat>
        <v-list-item v-for="item in leftMenuItems"
                     :key="item.id">
      <v-list-item-icon
       >
       <v-btn icon nuxt :to="item.to"> <v-icon>{{ item.icon }}</v-icon></v-btn>
      </v-list-item-icon>
        </v-list-item>
    </v-list>
    </v-navigation-drawer>
    <v-app-bar
      height="76"
      app
    >
      <nuxt-link to="/">
        <v-toolbar-title>
            <v-img height="52" contain :src="require('@/assets/img/logo.png')"/>
        </v-toolbar-title>
      </nuxt-link>
      <v-spacer />
      <div v-if="showProfileInfo" class="pa-1 mr-2 text-h5 font-weight-medium">
        {{ $auth.user.role_name }} <span v-if="'fio' in $auth.user">: {{ $auth.user.fio }}</span>
      </div>
      <v-avatar v-if="showProfileInfo && $auth.user.photo" class="mr-2">
        <v-img :src="$auth.user.photo[0].src" />
      </v-avatar>
<!--      <v-btn v-if="btnAuth" class="mr-2" :to="'/login'" nuxt>-->
<!--        Авторизация-->
<!--      </v-btn>-->
      <v-btn outlined v-if="btnQuit" to="/logout" nuxt>
        <v-icon v-text="'mdi-exit-run'"/>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

export default {
  middleware: ['preAuth', 'auth', 'loadGuides'],
  data: () => ({
    leftMenuItems: [
      {
        id: 0,
        text: 'Главная',
        icon: 'mdi-home-outline',
        to: '/dashboard'
      },
      {
        id: 1,
        text: 'Публикации',
        icon: 'mdi-view-list-outline',
        to: '/'
      }

    ]
  }),
  computed: {
    btnQuit () { // свойство domain - признак запуска в среде битрикс, кнопку выход показывать не будем
      return this.$auth && this.$auth.loggedIn
    },
    showProfileInfo () { // показываем инфо профиля если авторизован и данные имеются
      return this.$auth && this.$auth.loggedIn && this.$auth.user
    }
  }
}
</script>
