<template>
  <v-card rounded elevation="8" class="rounded-lg px-7 pb-10 pt-5">
    <v-card-title class="text-h5">Популярные материалы</v-card-title>
    <v-row>
      <v-col v-for="item in data" :key="item.id" cols="6">
        <v-row>
          <v-col cols="12" md="6" align-self="center">
              <v-sheet elevation="10" color="transparent">
                <v-img
                height="105"
                :src="item.coverUrl"
                />
              </v-sheet>
          </v-col>
          <v-col cols="12" md="6" class="d-flex flex-column" align-self="end">
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <div  v-bind="attrs"
                      v-on="on"
                      class="text-truncate">
                  <nuxt-link :to="`/article/${item.id}`"
                            class="text-h6 light-blue--text text--darken-4">
                    {{ item.title_article }}
                  </nuxt-link>
                </div>
              </template>
              <span>{{ item.title_article }}</span>
            </v-tooltip>
            <div class="text-caption text--secondary">{{ getArticleTypeByID(item.type_article).name }}</div>
          </v-col>
          <v-divider v-if="item.id %2" class="mx-1 my-2" vertical/>
        </v-row>
      </v-col>

    </v-row>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    data: { type: Array }
  },
  computed: {
    ...mapGetters({ getArticleTypeByID: 'guides/getArticleTypeByID' })
  },
  created () {
    console.log('dashboard this.data ', this.data)
  }
}
</script>

<style scoped>

</style>
