<template>
  <v-card class="rounded-lg px-7 pb-10 pt-5" rounded elevation="8" >
    <v-card-title class="text-h5">Статистика неопубликованного материала</v-card-title>
    <v-row no-gutters>
      <v-col v-for="item in typesOfArticles"
             :key="item.type"
             class="d-flex"
            >
        <v-card flat>
          <v-card-title class="text-h5">{{ item.typeName }}</v-card-title>
          <v-row>
            <v-col v-for="item2 in item.data"
                   :key="item2.status_article"
                    cols="12">
              <div class="d-flex flex-column ">
                <div class="d-flex justify-center">
                  <v-icon color="accent">{{ item.icon }}</v-icon>
                  <div class="text-h4 ml-3" :style="{color: item2.color }">{{ item2.count }}</div>
                </div>
                <div class="text-h6 font-weight-regular text--secondary text-center">{{ item2.status_article_name }}</div>
              </div>
            </v-col>
          </v-row>
        </v-card>
        <v-divider v-if="item!==typesOfArticles.lastItem" class="mx-1" vertical/>
      </v-col>
    </v-row>

  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    data: { type: Array }
  },
  computed: {
    ...mapGetters({
      getArticleStatusByID: 'guides/getArticleStatusByID',
      getArticleTypeByID: 'guides/getArticleTypeByID'
    }),
    typesOfArticles () { // подготовка данных для таблицы
      const allTypes = [...new Set(this.data.map(item => item.type_article))] // какие бывают типы
      return allTypes.map(item => {
        const filtered = this.data.filter(item2 => item2.type_article === item)
        return {
          type: item,
          icon: this.getArticleTypeByID(item).icon,
          typeName: this.getArticleTypeByID(item).name,
          data: filtered.map(item3 => ({
            count: item3.count,
            status_article: item3.status_article,
            status_article_name: this.getArticleStatusByID(item3.status_article).name_status,
            color: item3.status_article === 4 ? '#EF5DA8' : undefined
          }))
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
