<template>
    <v-card class="rounded-lg px-7 pb-10 pt-5" rounded elevation="8" >
      <v-card-title class="text-h5">Наиболее активные пользователи</v-card-title>
      <v-row dense>
        <v-col cols="12" v-for="item in data" :key="item.id">
          <v-card outlined class="d-flex pa-4">
            <v-row align="center">
              <v-col cols="12" sm="8" class="d-flex flex-column">
                <v-card-title class="text-h6 text-capitalize">{{ item.fio }}</v-card-title>
                <v-card-subtitle class="text-capitalize">{{ item.position_name }}</v-card-subtitle>
                <v-row>
                  <v-col  cols="4" v-for="idx in ratingValues" :key="idx.field">
                    <v-sheet rounded elevation="1" class="d-flex flex-column">
                      <v-icon size="29" color="accent">{{ `mdi-${idx.icon }`}}</v-icon>
                      <div class="text-center text-h5 font-weight-bold">{{ Math.round(item[idx.field]*100)/100 }}</div>
                      <div class="text-center text-body-2">{{ idx.text }}</div>
                    </v-sheet>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" sm="4">
                <v-avatar rounded size="130">
                  <v-img :src="item.photo"/>
                </v-avatar>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
</template>

<script>
export default {
  props: {
    data: { type: Array }
  },
  data () {
    return {
      ratingValues: [
        {
          field: 'rating_articles',
          icon: 'thumb-up-outline',
          text: 'ср. оценка'
        },
        {
          field: 'count_articles',
          icon: 'book-open-variant',
          text: 'публикаций'
        },
        {
          field: 'files_added',
          icon: 'note-edit-outline',
          text: 'дополнений'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
