<template>
  <v-card rounded elevation="8" class="px-8 py-6 rounded-lg">
    <v-card-title class="text-h5">Общие данные по библиотеке</v-card-title>
    <v-row>
      <v-col xl="7" cols="12" lg="6">
        <apexchart height="100%" type="treemap" :series="series" :options="options" />
      </v-col>
      <v-col xl="5" cols="12" lg="6">
        <v-row>
          <v-col cols="12">
            <v-row dense>
              <v-col cols="6"
                     v-for="item in data"
                :key="item.type_article"
                class="d-flex ">
                <v-sheet
                  width="26"
                  height="26"
                  class="flex-shrink-0"
                  :color="getArticleTypeByID(item.type_article).color"/>
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <div  v-bind="attrs"
                              v-on="on"
                              class="text-h6 font-weight-regular ml-1 ml-xl-3 text-truncate">{{ getArticleTypeByID(item.type_article).name }}
                        </div>
                    </template>
                    <span>{{ getArticleTypeByID(item.type_article).name }}</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12">
            <v-row>
              <v-col v-for="item in data"
                     cols="6"
                   :key="item.type_article">
                      <v-row no-gutters class="text-center">
                        <v-col cols="12" class="text-h4" :style="{color: getArticleTypeByID(item.type_article).color }">{{ item.count }}</v-col>
                        <v-col cols="12" class="text-h6 font-weight-regular">{{ getArticleTypeByID(item.type_article).name }}</v-col>
                      </v-row>
            </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    data: { type: Array }
  },
  computed: {
    ...mapGetters({
      getArticleTypeByID: 'guides/getArticleTypeByID'
    }),
    series () {
      return [{
        data: this.data.map(item => ({
          x: this.getArticleTypeByID(item.type_article).name,
          y: item.count
        }))
      }]
    },
    sumArticles () {
      const summa = this.data.reduce((sum, current) => sum + current.count, 0)
      console.log('сумма статей', summa)
      return summa
    },
    options () {
      const curThis = this
      return {
        chart: {
          toolbar: {
            show: false
          }
        },
        plotOptions: {
          treemap: {
            distributed: true,
            enableShades: false
          }
        },
        colors: this.data.map(item => this.getArticleTypeByID(item.type_article).color), // цвета получаем из бэка
        dataLabels: {
          style: {
            fontSize: '16px',
            fontWeight: 'bold'
          },
          enabled: true,
          formatter: function (val, { value }) {
            return Math.round(value / curThis.sumArticles * 100) + '%'
          },
          offsetX: 0
        },
        tooltip: {
          enabled: true,
          y: {
            formatter: undefined,
            title: {
              formatter: (seriesName) => seriesName + ' - публикаций:'
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
