<template>
  <v-card class="rounded-lg px-7 pb-10 pt-5" rounded elevation="8" >
    <v-card-title class="text-h5">Статистика публикаций</v-card-title>
    <apexchart height="100%" type="area" :series="data" :options="options"/>
  </v-card>
</template>

<script>

export default {
  props: {
    data: { type: Array }
  },
  computed: {
    options () {
      return {
        legend: {
          position: 'top',
          horizontalAlign: 'right'
        },
        grid: {
          strokeDashArray: 4
        },
        xaxis: {
          type: 'datetime',
          labels: {
            formatter: function (value, timestamp) {
              return new Date(timestamp).toLocaleDateString('ru-RU', { year: 'numeric', month: 'short' })
            },
            style: {
              colors: '#CACCCF',
              fontSize: '10px',
              fontWeight: 400
            }
          }
        },
        yaxis: {
          labels: {
            style: {
              colors: '#CACCCF',
              fontSize: '12px',
              fontWeight: 400
            }
          }
        },
        chart: {
          toolbar: {
            show: false
          }
        },
        dataLabels: {
          enabled: false
        },
        tooltip: {
          enabled: true,
          x: { show: false }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
