<template>
  <v-card class="rounded-lg px-7 pb-10 pt-5" rounded elevation="8" >
    <v-card-title class="text-h5">Лидеры по количеству публикаций по типам</v-card-title>
    <v-row dense>
      <v-col cols="6" md="4" v-for="item in data" :key="item.id">
        <v-card flat class="d-flex flex-column align-center ">
          <v-sheet height="30" dark elevation="2" :color="item.color" class="d-flex pa-1 mb-2">
            <v-icon>{{ `mdi-${item.icon}`}}</v-icon>
            <div class="mb-1 text-h6 font-weight-regular text-center"> {{ item.name }}</div>
          </v-sheet>
          <v-badge
            color="accent"
            bottom
            overlap
            :content=item.count
          >
            <v-avatar
            rounded
            size="92">
            <v-img :src="item.photo"/>
          </v-avatar>
          </v-badge>
          <v-card-text class="text-h6 text-center">{{ item.fio }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    data: { type: Array }
  }
}
</script>

<style scoped>

</style>
