<template>
  <v-card v-if="!editMode">
    <v-card-title>Действия с публикацией</v-card-title>
    <v-card-actions class="flex-wrap justify-space-around">
      <v-btn v-for="item in filteredPermissions"
             class="my-1"
             :key="item"
             :disabled="buttonsDescriptions[item].disabled"
             :color="buttonsDescriptions[item].color"
             @click="clckBtn(item)">
        {{ buttonsDescriptions[item].caption }}
        <v-icon> {{ buttonsDescriptions[item].icon }}</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
  <v-card v-else>
    <v-card-title>Редактирование публикации</v-card-title>
    <v-card-actions class="flex-wrap justify-space-around">
      <v-btn
      :disabled=!nonSavedChanges
      @click="$emit('save-changes')"
      color="primary">
        Сохранить изменения
        <v-icon>mdi-content-save-edit-outline</v-icon>
      </v-btn>
      <v-btn @click="$emit('cancel-changes')">Отменить изменения
        <v-icon>mdi-format-color-marker-cancel</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    permissions: { type: Object, required: true }, // разрешения на действия со статьёй
    nonSavedChanges: { type: Boolean, required: false }, // не сохранённые изменения
    editMode: { type: Boolean, default: () => false }, // режим редактирования
    disabled: { type: Boolean, default: () => false } // отключить кнопки
  },
  computed: {
    filteredPermissions () {
      return Object.keys(this.permissions).filter(item => this.permissions[item]) // отфильтровываем неразрешенные кнопки
    }
  },
  data () {
    return {
      buttonsHide: false,
      buttonsDescriptions: {
        canEdit: { caption: 'Редактировать', icon: 'mdi-playlist-edit', color: 'primary', disabled: false },
        toModeration: { caption: 'Отправить на экспертизу', icon: 'mdi-account-check-outline', color: 'teal accent-3', disabled: false },
        toDraft: { caption: 'Вернуть на доработку', icon: 'mdi-reload-alert', color: 'blue-grey lighten-3', disabled: false },
        toPublication: { caption: 'Опубликовать', icon: 'mdi-earth', color: 'accent', disabled: false },
        toDecline: { caption: 'Отклонить', icon: 'mdi-briefcase-remove-outline', color: 'red lighten-1', disabled: false },
        toArchive: { caption: 'В архив', icon: 'mdi-package-up', color: 'lime lighten-4', disabled: false }
      }
    }
  },
  watch: {
    disabled (value) {
      Object.values(this.buttonsDescriptions).forEach(item => { item.disabled = value }) // гасим все кнопки, чтобы повторно не нажимали
    }
  },
  methods: {
    clckBtn (item) {
      this.$emit('action', item)
    }
  }
}
</script>
