<template>
  <div>
    <div>Кейсы:</div>
    <v-card>
      <v-list v-if="children">
        <v-list-item v-for="item in children" :key="item.id">
          <nuxt-link :to="`/article/${item.id}`">{{ item.title_article|| 'Название кейса не задано' }}</nuxt-link>
        </v-list-item>
      </v-list>
      <div v-else class="pa-4">кейсов пока нет</div>
      <v-card-actions>
        <v-btn
          class="black--text"
          color="primary"
          :to="{path:`/article/add?type=2&parent=${articleID}`}">
        Добавить кейс к данной публикации
      </v-btn></v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    children: Array,
    articleID: { type: String, required: true }
  }
}
</script>

<style scoped>

</style>
