<template>
  <div >
    <v-timeline v-if="commentsArray && commentsArray.length && !$fetchState.pending" dense>
      <v-timeline-item
          :key="comment.id"
          v-for="comment in commentsArray"
          small>
        <v-card>
          <div class="d-flex indigo lighten-2 pa-1 text--white">
            <v-avatar class="mx-1" size="25">
              <v-img v-if="usersInfo[comment.created_by_user].photo" :src="usersInfo[comment.created_by_user].photo"/>
              <v-icon v-else>mdi-incognito</v-icon>
            </v-avatar>
            <div class="mx-1">{{ usersInfo[comment.created_by_user].fio }}</div>
            <div class="mx-1">{{ comment.created_at }}</div>
          </div>
          <v-card-text>{{ comment.text }}</v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <div v-else>
      <v-progress-circular  indeterminate v-if=$fetchState.pending></v-progress-circular>
      <div v-else>пока нет ни одного комментария</div>
    </div>
  </div>

</template>

<script>
export default {
  fetchOnServer: false,
  props: { refresh: Boolean, idArticle: { type: Number, required: true } },
  data () {
    return {
      commentsArray: undefined,
      usersInfo: undefined // информация о юзерах-комментаторах
    }
  },
  watch: {
    refresh () {
      this.$fetch()
    }
  },
  async fetch () {
    try {
      const data = { params: { article_id: this.idArticle } }
      const url = '/comments'
      const result = await this.$axios.$get(url, data)
      console.log('result', result)
      this.commentsArray = result.rows
      this.usersInfo = result.usersInfo
    } catch (e) {
      this.$toast.error(e)
    }
  }
}
</script>

<style scoped>

</style>
