<template>
  <div>
    <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header>
            Комментарии:
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-lazy>
              <comments-list :idArticle="idArticle" :refresh="commentsRefresh"/>
            </v-lazy>
          </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
    <v-form v-on:submit.prevent>
      <v-text-field @keydown.enter="addComment" v-model.trim="currentComment" required label="Вы можете оставить здесь свой комментарий"/>
      <v-btn :disabled="!currentComment" @click="addComment">Добавить комментарий</v-btn>
    </v-form>
  </div>
</template>

<script>
import CommentsList from '@/components/pageArticleModules/CommentsList'
export default {
  components: { CommentsList },
  props: { idArticle: { type: Number, required: true } },
  data () {
    return {
      commentsRefresh: false, // флаг для обновления данных в CommentsList
      currentComment: undefined
    }
  },
  methods: {
    async addComment () {
      try {
        const data = { article_id: this.idArticle, text: this.currentComment }
        const url = '/comments'
        const result = await this.$axios.$post(url, data)
        this.comments = result.row
        this.currentComment = undefined
        this.commentsRefresh = !this.commentsRefresh // просим CommentsList сделать refresh данных
      } catch (e) {
        this.$toast.error(e)
      }
    }
  }
}
</script>

<style scoped>

</style>
