<template>
  <v-card flat color="transparent">
     <cover-module :id-article="this.article.getFieldsForForm.id.value" :cover-url="coverUrl" :readonly="readonly"/>
    <v-card-actions class="flex-wrap">
      <v-chip text-color="white" :color="article_type_info.color">
        <v-icon class="mx-1" v-text="article_type_info.icon" />
        {{ article_type_info.text }}
      </v-chip>
      <v-chip text-color="white" :color="article_status_info.color">
        {{ article_status_info.text|| 'нет статуса' }}
      </v-chip>
      <!--            В данных случаях тип поля (timestamp) задан с бэка (info -> columns - > type)-->
      <component :is="article.getFieldsForForm.created_at.typeFieldComponent"
                 :data="article.getFieldsForForm.created_at.value"
                 :label="article.getFieldsForForm.created_at.label"/>
      <component :is="article.getFieldsForForm.updated_at.typeFieldComponent"
                 :data="article.getFieldsForForm.updated_at.value"
                 :label="article.getFieldsForForm.updated_at.label"/>
      <!--            В данном случае тип поля с бэка "double" ни о чём нам не говорит, поэтому тип компонента FieldRating хардкодим -->
      <FieldRating
          :data="article.getFieldsForForm.rating.value"
          :label="article.getFieldsForForm.rating.label"/>
      <v-chip v-if="author">
        <strong>Автор: </strong>{{ author.fio }}
        <v-avatar class="mx-1" size="25"><v-img :src="author.photo[0].src"/></v-avatar>
      </v-chip>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import ButtonsModule from '@/components/pageArticleModules/ButtonsModule'
import CoverModule from '@/components/pageArticleModules/CoverModule'

export default {
  components: { ButtonsModule, CoverModule },

  props: {
    article: { type: Object, required: true },
    author: { type: Object },
    coverUrl: String,
    readonly: Boolean
  },
  computed: {
    // смешиваем результат mapGetters с внешним объектом computed
    ...mapGetters([
      'guides/article_statuses',
      'guides/article_types'
    ]),
    article_status_info () {
      // получаем цвет и текст статуса статьи из store
      // eslint-disable-next-line camelcase
      return this['guides/article_statuses'].filter(item => item.value === this.article.getFieldsForForm.status_article.value)[0] || this.default_type
    },
    article_type_info () {
      // получаем цвет и текст статуса статьи из store
      // eslint-disable-next-line camelcase
      return this['guides/article_types'].filter(item => item.value === this.article.getFieldsForForm.type_article.value)[0] || this.default_type
    }
  }
}
</script>

<style scoped>

</style>
