<template>
  <v-card
    class="mx-auto"
  >
    <v-sheet
      elevation="1"
      color="indigo"
      dark
    >
      <v-card-title>Выберите ОКВЭДы публикации</v-card-title>
    </v-sheet>
    <v-card>
      <v-card-subtitle>Выбранные ОКВЭДы</v-card-subtitle>
      <v-card-text>
        <v-list dense flat>
          <v-list-item v-for="item in listOKVEDs" :key="item.id">
            <v-list-item-content>{{ item.name }}</v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click="deleteOKVED(item)">
                <v-icon dense v-text="'mdi-close'" />
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card-text>
    </v-card>
    <v-card-actions>
      <v-btn color="primary" @click="OkvedSelected">
        Применить и закрыть
      </v-btn>
      <v-btn @click="cancel">
        Отменить без изменений
      </v-btn>
    </v-card-actions>
    <v-sheet class="pa-4 primary lighten-2">
      <v-text-field
        v-model="search"
        label="поиск"
        flat
        autofocus
        solo-inverted
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      />
    </v-sheet>
    <v-treeview
      v-model="value"
      selectable
      :search="existOkved?search || '*':search"
      multiple-active
      dense
      :filter="filtering"
      :items="okved"
    />
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    initValues: { type: Array, required: false }, // входные выбранные оквэды
    // eslint-disable-next-line vue/require-default-prop
    existOkved: { type: Array, required: false } // для вызова из TagFiltersTemplate список доступных оквэдов
  },
  data () {
    return { search: undefined, value: this.initValues.filter(item => typeof item === 'string') }
  },
  computed: {
    ...mapGetters({
      // достаем из vuex нужные нам геттеры
      getOkvedNameByID: 'guides/getOkvedNameByID'
    }),
    filtering () { // используем для фильтрации по пропсу existOkved (вызов из TagFiltersTemplate)
      const context = this // сохраняем контекст Vue компонента
      return this.existOkved
        ? (item, search, textKey) => { // * является обманным ходом, иначе v-tree не использует filter
            return context.existOkved.includes(item.id) && (search === '*' || item[textKey].includes(search))
          }
        : undefined
    },
    okved () { // все оквэды из справочника
      return this.$store.state.guides.okved
    },
    listOKVEDs () { // список выбранных оквэдов
      return this.value.map(item => ({ id: item, name: this.getOkvedNameByID(item) }))
    }

  },
  methods: {
    OkvedSelected () { // кнопка Применить и закрыть
      this.$emit('result-okved', this.value)
    },
    cancel () {
      this.$emit('cancel-okved')
    },
    deleteOKVED (el) { // удаление выбранного оквэда из списка
      this.value = this.value.filter(item => item !== el.id)
    }
  }
}
</script>

<style scoped>

</style>
