<template>
  <div>
    <div>Публикация проекта:</div>
    <v-card class="pa-4">
          <nuxt-link :to="`/article/${parent.id}`">{{ parent.title_article }}</nuxt-link>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    parent: { type: Object, required: true }
  }
}
</script>

<style scoped>

</style>
