<template>
    <v-card>
        <v-sheet
                elevation="1"
                color="indigo"
                dark
        >
            <v-card-title>
                Категория: {{ getCaptionCategory(category).caption_category }}
            </v-card-title>
            <v-card-subtitle>Выбор тэгов для публикации</v-card-subtitle>
        </v-sheet>
        <v-card-actions>
            <v-autocomplete
                    v-model="currentTags"
                    :items="getTagsThisCategory"
                    label="Пока нет выбранных тэгов"
                    multiple
                    chips
                    return-object
                    solo
            >
                <template v-slot:prepend-item>
                    <div class="pa-2">
                        <v-btn color="primary" class="black--text" @click="apply">
                            Применить и закрыть
                        </v-btn>
                        <v-btn @click="close">
                            Отменить без изменений
                        </v-btn>
                    </div>
                </template>
            </v-autocomplete>
        </v-card-actions>
        <v-card-actions>
            <v-btn color="primary" class="black--text" @click="apply">
                Применить и закрыть
            </v-btn>
            <v-btn @click="close">
                Отменить без изменений
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    tags: { type: Array, required: true }, // текущие тэги у статьи или постфильтра статей (объектами)
    category: { type: String, required: true }, // текущая категория тэгов
    // eslint-disable-next-line vue/require-default-prop
    selectedTags: { type: Array, required: false } // выбранные элементы постфильтра. Если данный пропс есть, то считаем, что родитель это index, а не _id
  },
  data () {
    return {
      currentTags: [] // текущие тэги (объекты, а не ID}
    }
  },
  computed: {
    ...mapGetters({ getCaptionCategory: 'guides/getCaptionCategory', getTagByID: 'guides/getTagByID', getCategoryByName: 'guides/getCategoryByName' }),
    // берем всё существующие тэги и фильтруем по нужной нам группе, готовим список для v-list
    getTagsThisCategory () {
      const context = this.selectedTags ? this.tags : this.$store.state.guides.tags
      return context
        .filter(item => item.category_id === this.getCategoryByName(this.category).id)
        // преобразуем в формат v-list
        .map(item => ({
          text: item.name_tag,
          value: item
        }))
    }
  },
  created () {
    // при первом открытии окна получаем список текущих тэгов
    this.refreshCurrentTags()
  },
  methods: {
    // обновление списка текущих тэгов
    refreshCurrentTags () {
      const context = this.selectedTags || this.tags
      this.currentTags = context
        // тэги (объекты), полученные из пропса, фильтруем, оставив только нужную нам категорию
        .filter(item => item.category_id === this.getCategoryByName(this.category).id)
        // преобразуем в формат v-list
        .map(item => ({
          text: item.name_tag,
          value: item
        }))
    },
    apply () {
      // передаём родителю список выбранных тегов, преобразовав в нужный формат
      const output = this.currentTags.map(item => item.value)
      // если пропс selectedTags есть, то отдаём объектами, иначе ID шниками
      this.$emit('tag-apply', output)
    },
    close () {
      this.$emit('closing')
    }
  }
}
</script>

<style scoped>

</style>
