<template>
  <v-container fluid>
    <v-data-iterator
      :items="categories"
      hide-default-footer
      no-data-text="нет доступных тэгов"
    >
      <template #header>
        <v-toolbar
          class="mb-2"
          color="indigo lighten-3"
          dark
          flat
          dense
        >
          <v-toolbar-title class="text-h6">
            Тэги публикации
          </v-toolbar-title>
        </v-toolbar>
      </template>
      <template #default="props">
        <v-row dense justify="space-between">
          <v-col
            v-for="category in props.items"
            :key="category"
            cols="auto"
            md="12"
            :order="category==='okved'?10:undefined"
          >
            <v-card>
              <v-toolbar
                color="indigo lighten-5"
                dense
              >
                <v-icon class="mr-1">
                  {{ `mdi-${getCaptionCategory(category).category_icon}` }}
                </v-icon>
                <v-toolbar-title class="text-h6">
                  {{ getCaptionCategory(category).caption_category }}
                </v-toolbar-title>
                <v-spacer />
                <v-btn icon @click="tagsEditClck(category)"
                :disabled="readOnly">
                  <v-icon v-text="'mdi-playlist-edit'" />
                </v-btn>
              </v-toolbar>
              <v-divider />
              <v-list v-if="tagsByCategory(category).length" dense>
                <v-list-item
                  v-for="tag in tagsByCategory(category)"
                  :key="tag.id"
                >
                  <v-list-item-content class="align-end">
                    {{ tag.name_tag || getOkvedNameByID(tag) || 'загрузка...' }}
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-card-text v-else>
                нет тэгов
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    tags: { type: Array, required: false, default: () => [] }, // все тэги, которые нужно показать в табличках
    categories: { type: Array, required: true }, // какие таблички с категориями должны быть показаны
    readOnly: { type: Boolean, default: () => false }
  },
  data: () => ({
    dialog: false
  }),
  computed: {
    ...mapGetters({
      // достаем из vuex нужные нам геттеры
      getCaptionCategory: 'guides/getCaptionCategory',
      getCategoryByName: 'guides/getCategoryByName',
      getOkvedNameByID: 'guides/getOkvedNameByID'
    })
  },
  methods: {
    // получаем всё тэги по нужной категории
    tagsByCategory (name) {
      if (name === 'okved') { // если категория ОКВЭД, то выдаем те связи, где заполнено поле okved
        return this.tags.filter(item => typeof item === 'string')
      } else {
        // находим id тэгов, которые относятся к нашему ID статьи (сначала находим ID категории по имени)
        const currentCategory = this.getCategoryByName(name)
        // и фильтруем по ID категории
        return this.tags.filter(item => item.category_id === currentCategory.id)
      }
    },
    tagsEditClck (category) {
      this.$emit('tags-edit', category)
    }
  }
}
</script>

<style scoped>

</style>
