<template>
  <v-row>
    <v-chip
      v-for="item in hintsData.slice(0, 5)"
      :key="item"
      class="mx-1 text-capitalize"
      close
      close-icon="mdi-window-close"
      @click:close="deleteHint(item)"
      @click="setHint(item)"
    >
      {{ item }}
    </v-chip>
  </v-row>
</template>

<script>
export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    searchString: { type: String, required: false }
  },
  data: () => ({
    // eslint-disable-next-line quote-props
    hintsData: []
  }),
  mounted () {
    // считываем подсказки из LocalStorage при загрузке компонента
    this.hintsData = JSON.parse(localStorage.getItem('knowledgebase_hints')) || []
  },
  beforeDestroy () {
    // сохраняем подсказки в LocalStorage (с разбивкой на слова и в нижнем регистре)
    if (this.searchString) {
      this.searchString.split(' ').forEach((item) => {
        if (!this.hintsData.includes(item)) {
          this.hintsData.push(item.toLowerCase())
        }
      })
    }
    localStorage.setItem('knowledgebase_hints', JSON.stringify(this.hintsData))
  },

  methods: {
    // удаление подсказок
    deleteHint (hint) {
      this.hintsData = this.hintsData.filter(item => item !== hint)
    },
    setHint (hint) {
      this.$emit('set-hint', hint)
    }
  }
}
</script>

<style scoped>

</style>
