<template>
  <v-card
    flat
    tag="fieldset"
    color="transparent"
  >
    <v-card-title>Фильтры</v-card-title>
    <v-select
      v-model="selectedTypesArticles"
      :items="typesArticles"
      label="Тип статьи"
      multiple
      chips
      hint="Выберите типы статей"
      persistent-hint
      clearable
      @change="list_changed"
    />
    <v-select
      v-model="selectedStatusesArticles"
      :items="typesStatuses"
      label="Статус статьи"
      multiple
      chips
      hint="Выберите статусы статей"
      persistent-hint
      clearable
      @change="list_changed"
    />
    <Tags :rules="categories" :tags="tags" />
    <v-card-text>Всего публикаций: {{ leftMenuInfo.countArticles }}</v-card-text>
    <v-card-text>Отфильтровано публикаций: {{ leftMenuInfo.filteredItems }}</v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'LeftMenu',
  // eslint-disable-next-line vue/require-prop-types
  props: { leftMenuInfo: { type: Object, required: true } },
  data: () => ({
    selectedTypesArticles: [],
    selectedStatusesArticles: []
  }),
  computed: {
    ...mapGetters({
      // достаем из vuex нужные нам геттеры
      getNameCategoryByID: 'guides/getNameCategoryByID'
    }),
    typesArticles () {
      const items = this.$store.getters['guides/article_types']
      // если проверяем тип не в списке filterDisabledItems, то помечается как disabled
      items.forEach((item) => { item.disabled = !(this.leftMenuInfo.existTypeArticles.has(item.value)) })
      return items
    },
    typesStatuses () {
      const items = this.$store.getters['guides/article_statuses']
      // если проверяем тип не в списке filterDisabledItems, то помечается как disabled
      items.forEach((item) => { item.disabled = !(this.leftMenuInfo.existStatusesArticles.has(item.value)) })
      return items
    },
    categories () {
      const res = this.tags.map((item) => {
        if (typeof item === 'string') { return 'okved' } else { return this.getNameCategoryByID(item.category_id) }
      })
      return Object.fromEntries(res.map(item => [item, null]))
    },
    tags () {
      return [...this.leftMenuInfo.existTags]
    }
  },
  methods: {
    list_changed () { // передаем родителю параметры фильтрации
      this.$emit('filtered', {
        type_article: this.selectedTypesArticles.length
          ? this.selectedTypesArticles
          : null, // если ничего не выбрано, то возвращаем null, а не пустой массив
        status_article: this.selectedStatusesArticles.length ? this.selectedStatusesArticles : null

      })
    }
  }
}
</script>

<style scoped>

</style>
