<template>
  <v-stepper
    v-model="stepper"
    vertical
  >
    <v-stepper-step
      step="1"
      :complete="stepper > 1"
    >
      Тип статьи
    </v-stepper-step>
    <v-stepper-content step="1">
      <v-menu>
        <template #activator="{ on, attrs }">
          <v-btn
            class="black--text"
            color="primary"
            v-bind="attrs"
            v-on="on"
          >
            Выбрать
          </v-btn>
        </template>
        <v-list>
          <v-subheader>Выберите тип создаваемой статьи:</v-subheader>
          <v-list-item-group
            v-model="newArticleTypeSelected"
            color="indigo"
          >
            <v-list-item
              v-for="(item) in allTypeArticles"
              :key="item.value"
            >
              <v-list-item-icon>
                <v-icon v-text="item.icon" />
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title v-text="item.text" />
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
      <v-card flat>
        <v-card-subtitle>Тип статьи:</v-card-subtitle>
        <v-card-title>
          {{ objOfSelectedArticle.text }}
        </v-card-title>
        <v-card-actions>
          <v-btn @click="cancelMaster">
            Отменить
          </v-btn>
          <v-btn class="black--text" color="primary" :disabled="newArticleTypeSelected===undefined" @click="stepper++">
            Далее
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-stepper-content>
    <v-stepper-step step="2">
      Основные поля
    </v-stepper-step>
    <v-stepper-content step="2">
      <v-card v-if="article" flat>
        <v-text-field v-model="article.getFieldsForForm.title_article.value" :rules="[rules.required]" :placeholder="article.getFieldsForForm.title_article.label" />
        <v-text-field v-model="article.getFieldsForForm.cover_img.value" :placeholder="article.getFieldsForForm.cover_img.label" />
        <v-dialog
          v-model="dialogOkved"
          width="500"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              color="primary"
              v-bind="attrs"
              v-on="on"
            >
              Выбрать {{ article.getFieldsForForm.okved.label }}
            </v-btn>
          </template>
          <OkvedPicker @result="getOkved" />
        </v-dialog>
        <v-card-text>{{ article.getFieldsForForm.okved.value }}</v-card-text>
        <v-card-actions>
          <v-btn @click="stepper--">
            Назад
          </v-btn>
          <v-btn class="black--text" color="primary" @click="finishMaster">
            Завершить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-stepper-content>
    <!--    <v-stepper-step step="3">-->
    <!--      Остальные поля-->
    <!--    </v-stepper-step>-->
    <!--    <v-stepper-content step="3">-->
    <!--      <v-card v-if="article" flat>-->
    <!--        <v-card-text-->
    <!--          v-for="field in article.uniqFields"-->
    <!--          :key="field"-->
    <!--        >-->
    <!--          <v-text-field-->
    <!--            v-model="article.getFieldsForForm[field].value"-->
    <!--            :placeholder="article.getFieldsForForm[field].label"-->
    <!--          />-->
    <!--        </v-card-text>-->
    <!--        <v-card-actions>-->
    <!--          <v-btn @click="stepper&#45;&#45;">-->
    <!--            Назад-->
    <!--          </v-btn>-->
    <!--          <v-btn class="black&#45;&#45;text" color="primary">-->
    <!--            Завершить-->
    <!--          </v-btn>-->
    <!--        </v-card-actions>-->
    <!--      </v-card>-->
    <!--    </v-stepper-content>-->
  </v-stepper>
</template>

<script>
import ArticleObject from 'assets/js/articles'

export default {

  props: {
    modelData: { type: Object, required: true }
  },
  data () {
    return {
      newArticleTypeSelected: undefined,
      skipMaster: false,
      stepper: 1,
      article: undefined,
      dialogOkved: false,
      rules: { required: value => !!value || 'Обязательное поле.' }
    }
  },
  // async fetch () {
  //   // загружаем справочник ОКВЭД в store
  //   await this.$store.dispatch('guides/set_okved')
  //   console.info('Справочник ОКВЭД загрузился')
  // },
  // async fetch () {
  //   const config = { credentials: true, auth: { username: 'admin', password: 'admin' } }
  //   const url = '/table/knowledgebase_articles/modelInfo'
  //   // получаем модель без данных
  //   this.modelData = await this.$axios.$get(url, config)
  //   if (this.modelData.error) {
  //     console.error('Ошибка', this.modelData.error)
  //   }
  // },
  computed: {
    allTypeArticles () {
      return this.$store.getters['guides/article_types']
    },
    objOfSelectedArticle () {
      // возвращаем выбранный в меню объект (тип статьи)
      return this.newArticleTypeSelected >= 0
        ? this.allTypeArticles[this.newArticleTypeSelected]
        : { text: 'Не выбрано' }
    }
  },
  watch: {
    newArticleTypeSelected (newV, oldV) {
      if (newV !== oldV) {
        const initData = { type_article: this.objOfSelectedArticle.value } // номер статьи из строки запроса
        // eslint-disable-next-line vue/no-mutating-props
        this.modelData.rows.push(initData) // в данные помещаем номер статьи, т.к. это обязательная инфа
        // создаём объект
        this.article = new ArticleObject(this.modelData)
      }
    }
  },
  methods: {
    getOkved (value) {
      console.log('value', value.join(', '))
      this.article.getFieldsForForm.okved.value = value.join(', ')
      this.dialogOkved = false
    },
    finishMaster () {
      this.$emit('master-finish', this.article)
    },
    cancelMaster () {
      this.$router.go(-1)
    }
  }

}
</script>

<style scoped>

</style>
