<template>
  <v-card
    color="indigo lighten-5"
  >
    <div class="d-flex justify-space-between align-center">
      <v-card-title>Постфильтр</v-card-title><v-btn icon @click="clearFilters">
        <v-icon v-text="`mdi-close`" />
      </v-btn>
    </div>
    <v-card-subtitle>
      <span v-if="selectedAmountArticles">Выбрано {{ selectedAmountArticles }} из </span>{{ totalAmountArticles }} публикаций
    </v-card-subtitle>

    <v-scroll-y-transition group>
      <div
        v-for="(item, idx) in filterElements"
        :key="item.idFilterElement"
        ref="fil"
        class="ma-2"
      >
        <v-card>
          <v-sheet color="indigo lighten-4">
            <div class="d-flex justify-space-between align-center">
              <v-card-subtitle>Фильтр № {{ idx+1 }}</v-card-subtitle>
              <div>
                <v-btn :disabled="idx===0" icon @click="function(){$emit('btn-filter', {up:idx}); refreshAfterMoving(idx-2)}">
                  <v-icon small v-text="`mdi-arrow-up-bold-outline`" />
                </v-btn>
                <v-btn icon :disabled="idx===filterElements.length-1" @click="function(){$emit('btn-filter', {down:idx}); refreshAfterMoving(idx-1)}">
                  <v-icon small v-text="`mdi-arrow-up-bold-outline mdi-rotate-180`" />
                </v-btn>
              </div>
            </div>
          </v-sheet>
          <v-card-actions>
            <component
              :is="item.viewComponent"
              :params="item"
              @changed="handleEvent(item, $event)"
            />
          </v-card-actions>
        </v-card>
      </div>
    </v-scroll-y-transition>
  </v-card>
</template>

<script>

export default {
  props: {
    input: { type: Array, required: true }, // входящий поток статей
    filterElements: { type: Array, required: false, default: () => [] } // массив фильтрующих элементов
  },
  data () {
    return {
      selectedAmountArticles: undefined
    }
  },

  computed: {
    totalAmountArticles () { // общее кол-во статей
      return this.input.length
    }
  },
  created () { // при инициализации постфильтра задаём начальные данные
    this.setData(this.input)
  },
  methods: {
    setData (data, elem) { // дата -  массив статей на входе, elem - фильтр. элемент на котором сработало событие изменений
      let arr
      if (elem) {
        // находим индекс фильтрационного элемента
        const ind = this.filterElements.findIndex(item => item === elem)
        arr = this.filterElements.slice(ind + 1) // берем массив фильтр. элементов начиная со следующего и до конца
      } else {
        arr = this.filterElements // берем все елементы
      }
      arr.forEach((item) => { // списку фильтр. элементов задаём входные данные
        item.dataHandler = data
        item.updateRender() // перерендерим элемент
      })
    },
    handleEvent (item, event) {
      item.filterSelected = event
      const filteredData = item.dataHandler
      this.$emit('output', filteredData)
      this.selectedAmountArticles = filteredData.length
      this.setData(filteredData, item)
    },
    refreshAfterMoving (id) {
      let data
      if (id < 0) {
        data = this.input
      } else {
        data = this.filterElements[id].dataHandler
      }
      this.selectedAmountArticles = data.length
      this.$emit('output', data)
      setTimeout(() => {
        this.setData(data, id >= 0 ? this.filterElements[id] : undefined)
      }, 500)
    },
    clearFilters () {
      this.$emit('output', this.input)
      this.selectedAmountArticles = this.input.length
      this.setData(this.input)
    }
  }
}
</script>
