<template>
  <v-row align="center">
    <v-col cols="auto">
      <v-text-field
        v-model.trim="search_string"
        height="48"
        hide-details
        prepend-inner-icon="mdi-magnify"
        outlined
        clearable
      />
    </v-col>
    <v-col cols="auto">
      <v-switch v-model="postFilter" label="постфильтр"/>
    </v-col>
    <v-col cols="auto">
      <Hints
        :search-string="search_string"
        @set-hint="setStringFromHint"
      />
    </v-col>
    <v-spacer />
    <v-col cols="auto">
      <!--      окно выбора типа новой статьи-->

      <v-btn
        class="black--text"
        color="primary"
        :to="{path:'/article/add'}"
      >
        Добавить публикацию
      </v-btn>
    </v-col>
    <v-col cols="2">
      <v-select
        v-model="currentPageAmount"
        :items="onPageAmount"
        persistent-hint
        hint="на странице"
        @change="changeAmountItemsOnPage"
      />
    </v-col>
    <v-col cols="4">
      <v-pagination
        v-model="currentPage"
        :length="amountOfPages"
        :total-visible="7"
        @input="changePage"
      />
    </v-col>
    <v-col cols="2">
      <slot name="sorting" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'SearchPanel',
  props: {
    totalItems: { type: Number, required: true },
    onFirstPage: { type: Boolean, required: false }// кол-во статей общее
  },
  data () {
    return {
      search_string: this.$route.query.search,
      newArticleTypeSelected: null,
      dialogNewArticle: false,
      postFilter: true, // показывать постфильтр
      currentPageAmount: 10, // текущее значение карточек на странице
      currentPage: parseInt(this.$route.query.page) || 1 // начальное значение берем из URI, по умолчанию 1
    }
  },
  computed: {
    onPageAmount () {
      return [
        { text: '10', value: 10 },
        { text: '20', value: 20 },
        { text: '30', value: 30 },
        { text: '50', value: 50 }
      ]
    },
    amountOfPages () { // кол-во страниц
      // кол-во статей/ кол-во на одной странице, округляем в большую сторону
      return Math.ceil(this.totalItems / this.currentPageAmount)
    }
  },
  watch: {
    // меняется строка поиска - совершаем переход по роутеру
    search_string (newValue, oldValue) {
      if (newValue !== oldValue) {
        const query = Object.assign({}, this.$route.query)
        delete query.page
        this.currentPage = 1 // меняем значение на компоненте v-paginator
        if (newValue) { query.search = newValue } else { delete query.search }
        this.$router.push({ to: '/', query })
      }
    },
    postFilter () {
      this.$emit('post-filter')
    },
    onFirstPage () {
      this.currentPage = 1
    }
  },
  created () {
    this.$emit('on-page-item', this.currentPageAmount) //  при загрузке компонента посылаем сигнал родителю сколько статей на странице
  },
  methods: {
    setStringFromHint (item) {
      this.search_string = item
    },
    // метод смены страниц пагинатором
    changePage () {
      const query = Object.assign({}, this.$route.query) // клонируем текущий query
      delete query.page // удаляем про страницу
      if (this.currentPage !== 1) { query.page = this.currentPage } // если страница 1, то её не уточняем
      this.$router.push({ to: '/', query })
    },
    createArticle () {
      this.dialogNewArticle = false
      this.$router.push({ path: '/article/add', query: { type: this.allTypeArticles[this.newArticleTypeSelected].value } })
    },
    changeAmountItemsOnPage () {
      this.$emit('on-page-item', this.currentPageAmount) // посылаем сигнал родителю о смене кол-ва элементов на странице
      if (this.$route.query.page) { // если была не 1-я страница, то делаем переход на первую страницу
        const query = Object.assign({}, this.$route.query) // клонируем текущий query
        delete query.page // удаляем про страницу
        this.currentPage = 1 // меняем значение на компоненте v-paginator
        this.$router.push({ to: '/', query }) // переход  на 1-ю страницу
      }
    }
  }
}
</script>

<style scoped>

</style>
