<template>
  <v-list>
    <v-subheader>Выберите тип создаваемой статьи:</v-subheader>
    <v-list-item-group
      v-model="newArticleTypeSelected"
      color="indigo"
    >
      <v-list-item
        v-for="(item) in allTypeArticles"
        :key="item.value"
        @click="finishMaster(item)"
      >
        <v-list-item-icon>
          <v-icon v-text="item.icon" />
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title v-text="item.text" />
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
export default {
  props: {
    modelData: { type: Object, required: true }
  },
  computed: {
    allTypeArticles () {
      return this.$store.getters['guides/article_types']
    }
  },
  data () {
    return {
      newArticleTypeSelected: undefined,
      article: undefined,
      rules: { required: value => !!value || 'Обязательное поле.' }
    }
  },
  methods: {
    finishMaster (item) {
      this.$emit('master-finish', item)
    }
  }
}
</script>

<style scoped>

</style>
