<template>
  <v-select
    v-model="sortingItem"
    label="Сортировка"
    return-object
    :items="itemsSort"
    @change="changing"
  />
</template>

<script>
export default {
  props: {
    inputParam: { type: String, required: false, default () { return '' } }
  },
  data () {
    return {
      itemsSort: [{
        text: 'Не сортировано',
        value: 'id'
      },
      {
        text: 'Рейтинг <',
        value: 'rating'
      },
      {
        text: 'Рейтинг >',
        value: '-rating'
      },
      {
        text: 'Дата создания <',
        value: 'created_at'
      },
      {
        text: 'Дата создания >',
        value: '-created_at'
      },
      {
        text: 'Кол-во просмотров <',
        value: 'counter'
      },
      {
        text: 'Кол-во просмотров >',
        value: '-counter'
      }
      ],
      sortingItem: this.inputParam
    }
  },
  methods: {
    compare (a, b) { // функция сравнивания элементов, её формируем и возвращаем родителю, а тот уже ею сортирует сам
      let key, item1, item2
      let negative = 1 // параметр reverse сортировки
      if (this.sortingItem.value.startsWith('-')) {
        key = this.sortingItem.value.slice(1) // если есть реверс, то удаляем
        negative = -1 // моножитель реверса
      } else { key = this.sortingItem.value }
      const check = a[key] // для проверки на тип данных в сортируемом параметре
      if (typeof check === 'string' && Date.parse(check)) { // пытаемся преобразовать string в дату
        item1 = Date.parse(a[key]) // в миллисекундах
        item2 = Date.parse(b[key])
      } else if (typeof check === 'string' && parseFloat(check)) { // пытаемся преобразовать string в float
        item1 = parseInt(a[key])
        item2 = parseInt(b[key])
      } else { // не string и преобразовать не получилось, то сравниваем как есть
        item1 = a[key]
        item2 = b[key]
      }
      if (item1 > item2) {
        return negative // результат умножаем на реверс параметр
      }
      if (item1 < item2) {
        return (-1) * negative
      }
      return 0
    },
    changing () {
      this.$emit('output', this.compare)
    }
  }
}
</script>

<style scoped>

</style>
