<template>
    <v-card flat color="transparent">
      <v-row>
        <v-col cols="12" lg="9" order="2" order-lg="0">
          <v-row>
            <v-col cols="12">
              <slot name="title" />
              <v-divider />
            </v-col>
            <v-col cols="12">
              <component
                :is="value.typeFieldComponent"
                v-for="[ key , value] in fields"
                :key="key"
                v-model="value.value"
                :label="value.label"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col offset="2" cols="8" lg="3" offset-lg="0">
          <v-row>
            <v-col cols="6" lg="12">
              <slot name="card" />
            </v-col>
            <v-col cols="6" lg="12">
              <slot name="tags" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
</template>

<script>

export default {
  props: { article: { type: Object, required: true } },
  computed: {
    fields () {
      // только поля с признаком list
      return Object.entries(this.article).filter(item => item[1].placeType === 'list' || item[1].placeType === 'title')
    }
  }
}
</script>
