<template>
  <div>
    <v-card flat color="transparent">
      <v-row>
        <v-col cols="12" lg="9" order="2" order-lg="0">
          <v-row>
            <v-col cols="12">
              <slot name="title" />
              <v-divider />
            </v-col>
            <v-col cols="12">
              <component
                :is="value.typeFieldComponent"
                v-for="[ key , value] in fields"
                :key="key"
                v-model="value.value"
                :label="value.label"
                @change="changing"
                :readonly="readOnly"
              />
            </v-col>
          </v-row>
          <slot name="files"/>
          <slot name="comments"/>
        </v-col>
        <v-col offset="2" cols="8" lg="3" offset-lg="0">
          <v-row>
            <v-col cols="4" lg="12">
              <slot name="card" />
            </v-col>
            <v-col cols="4" lg="12">
              <slot name="buttons" />
            </v-col>
            <v-col cols="4" lg="12">
              <slot name="tags" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
// TODO нужно реализовать компонент - кастомное поля для даты с DatePicker
import { mapGetters } from 'vuex'

export default {
  props: {
    article: { type: Object, required: true },
    readOnly: { type: Boolean }
  },
  computed: {
    ...mapGetters({ getArticleTypeByID: 'guides/getArticleTypeByID' }),
    fields () {
      // только поля с признаком list
      return Object.entries(this.article).filter(item => item[1].placeType === 'list')
    }
  },
  methods: {
    changing () {
      this.$emit('change')
    }
  },
  created () {
    console.log('this.article ', this.article)
  }
}
</script>
