<template>
  <div>
    <v-card flat color="transparent">
      <v-row>
        <v-col cols="12" lg="9" order="2" order-lg="0">
          <v-row>
            <v-col cols="12">
              <slot name="title" />
              <v-divider />
            </v-col>
            <v-col cols="12">
              <component
                  v-for="field in fields"
                  :is="field.type || article[field.field_name].typeFieldComponent"
                  :key=field.field_name
                  v-model="article[field.field_name].value"
                  :label=field.label
                  @change="changing"
                  :readonly="readOnly"
              />
            </v-col>
          </v-row>
          <slot name="children"/>
          <slot name="files"/>
          <slot name="comments"/>
        </v-col>
        <v-col offset="2" cols="8" lg="3" offset-lg="0">
          <v-row>
            <v-col cols="4" lg="12">
              <slot name="card" />
            </v-col>
            <v-col cols="4" lg="12">
              <slot name="buttons" />
            </v-col>
            <v-col cols="4" lg="12">
              <slot name="tags" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  props: {
    article: { type: Object, required: true },
    readOnly: { type: Boolean }
  },
  data () {
    return {
      fields: // выборка полей и подставление нужного заголовка label
          [
            {
              field_name: 'project_name',
              label: 'Краткое наименование проекта'
            }, {
              field_name: 'company',
              label: 'Организация'
            },
            {
              field_name: 'start_date',
              label: 'Дата начала'
            }, {
              field_name: 'end_date',
              label: 'Дата завершения'
            },
            {
              field_name: 'targets',
              label: 'Цели и задачи'
            }, {
              field_name: 'description',
              label: 'Предпосылки проекта'
            },
            {
              field_name: 'work',
              label: 'Объем работ'
            }, {
              field_name: 'kpi',
              label: 'Показатели проекта'
            },
            {
              field_name: 'effect',
              label: 'Направление эффекта:'
            }, {
              field_name: 'project_manager',
              label: 'Руководитель проекта'
            },
            {
              field_name: 'customer_members',
              label: 'Участники проекта'
            }, {
              field_name: 'experience_consulting',
              label: 'Извлеченные уроки: возможности использования нового опыта в направлении «Консалтинг»'
            }, {
              field_name: 'experience_school',
              label: 'Извлеченные уроки: возможности использования нового опыта в направлении «Обучения»'
            }, {
              field_name: 'experience_laboratory',
              label: 'Извлеченные уроки: возможности использования нового опыта в направлении «Лин лаборатории и игры»'
            }, {
              field_name: 'experience_digital',
              label: 'Извлеченные уроки: возможности использования нового опыта в направлении «Цифровые продукты»'
            }
          ]
    }
  },
  computed: {
    ...mapGetters({ getArticleTypeByID: 'guides/getArticleTypeByID' })
  },
  methods: {
    changing () {
      this.$emit('change')
    }
  }
}
</script>
