<template>
  <div>
    <v-card flat color="transparent">
      <v-row>
        <v-col cols="12" lg="9" order="2" order-lg="0">
          <v-row>
            <v-col cols="12">
              <slot name="title" />
              <v-divider />
            </v-col>
            <v-col cols="12">
              <component
                v-for="field in fields"
                :is="field.type || article[field.field_name].typeFieldComponent"
                :key=field.field_name
                v-model="article[field.field_name].value"
                :label=field.label
                @change="changing"
                :readonly="readOnly"
              />
            </v-col>
          </v-row>
          <slot name="files"/>
          <slot name="comments"/>
        </v-col>
        <v-col offset="2" cols="8" lg="3" offset-lg="0">
          <v-row>
            <v-col cols="4" lg="12">
              <slot name="card" />
            </v-col>
            <v-col cols="4" lg="12">
              <slot name="buttons" />
            </v-col>
            <v-col cols="4" lg="12">
              <slot name="tags" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import { VTextField } from 'vuetify/lib/components'

export default {
  props: {
    article: { type: Object, required: true },
    readOnly: { type: Boolean }
  },
  data () {
    return {
      fields: // выборка полей и подставление нужного заголовка label
          [
            {
              field_name: 'effect',
              label: 'Код продукта',
              type: VTextField
            },
            {
              field_name: 'targets',
              label: 'Цели и задачи'
            }, {
              field_name: 'description',
              label: 'Формируемые компетенции'
            }, {
              field_name: 'actions',
              label: 'Формат проведения',
              type: VTextField
            }, {
              field_name: 'duration',
              label: 'Продолжительность'
            }, {
              field_name: 'work',
              label: 'Методы обучения'
            },

            {
              field_name: 'author',
              label: 'Автор курса'
            },
            {
              field_name: 'end_date',
              label: 'Дата разработки'
            },
            {
              field_name: 'start_date',
              label: 'Дата актуализации'
            },
            {
              field_name: 'customer_members',
              label: 'Для кого предназначен курс'
            },
            {
              field_name: 'count',
              label: 'Количество участников'
            },
            {
              field_name: 'solution',
              label: 'Содержание курса'
            }
          ]
    }
  },
  //, 'solution'
  computed: {
    ...mapGetters({ getArticleTypeByID: 'guides/getArticleTypeByID' })
  },
  methods: {
    changing () {
      this.$emit('change')
    }
  },
  created () {
    console.log('this.article ', this.article)
  }
}
</script>
