<template>
  <div>
    <v-menu
        v-if="!readonly"
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="newData"
        transition="scale-transition"
        offset-y
        min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
            v-model="newData"
            :label="label"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"/>
      </template>
      <v-date-picker
          v-model="newData"
          no-title
          scrollable
      >
        <v-spacer></v-spacer>
        <v-btn
            text
            color="primary"
            @click="menu = false"
        >
          Отмена
        </v-btn>
        <v-btn
            text
            color="primary"
            @click="$refs.menu.save(newData)"
        >
          OK
        </v-btn>
      </v-date-picker>
    </v-menu>
    <v-text-field
        v-else
        v-model="newData"
        :label="label"
        prepend-icon="mdi-calendar"
        readonly
        />
  </div>
</template>

<script>
export default {
  model: {
    prop: 'data',
    event: 'change'
  },
  props: {
    label: { type: String, required: false },
    data: { type: String, required: false, default: () => '' },
    readonly: { type: Boolean, required: false, default: () => false }
  },
  data () {
    return {
      newData: this.data,
      menu: undefined
    }
  },
  watch: {
    newData (newval, oldval) {
      if (newval !== oldval) { this.$emit('change', this.newData) }
    }
  }
}
</script>

<style scoped>

</style>
