<template>
  <v-card>
    <v-card-title>Рейтинг</v-card-title>
  <v-rating
      color="yellow darken-3"
      background-color="yellow darken-3"
      half-increments
      readonly
      length="5"
      size="15"
      dense
      :value="data"
  />
  </v-card>
</template>

<script>
export default {
  model: {
    prop: 'data'
  },
  props: {
    label: { type: String },
    data: { type: Number }
  }
}
</script>

<style scoped>

</style>
