<template>
  <v-data-table
    :headers="headers"
    :items="newData"
    class="elevation-1"
    hide-default-footer
  >
    <template #top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>{{ label }}</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        />
        <v-spacer />
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              :disabled="readonly"
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Добавить показатель
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">Добавить/изменить показатель</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    v-for="item in headers"
                    :key="item.value"
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-if="!(item.value==='actions')"
                      v-model="editedItem[item.value]"
                      :rules="item.value==='name'?[rulesRequired]:undefined"
                      :label="item.text"
                    />
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Отмена
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">
              Уверенны, что хотите удалить показатель {{ editedItem.name }} ?
            </v-card-title>
            <v-card-actions>
              <v-spacer />
              <v-btn color="blue darken-1" text @click="closeDelete">
                Отмена
              </v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">
                Подтвердить
              </v-btn>
              <v-spacer />
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template #item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template
      #no-data
    >
      Нет значений
    </template>
  </v-data-table>
</template>

<script>
export default {
  model: {
    prop: 'data',
    event: 'changing'
  },
  props: {
    label: { type: String, required: false },
    data: { type: Array },
    readonly: { type: Boolean, required: false, default: () => false }
  },
  data () {
    return {
      newData: this.data || [], // иногда приходит null, чтобы не падало, делаем []
      dialog: undefined,
      dialogDelete: undefined,
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        measure: '',
        target: '',
        plan: '',
        fact: ''
      },
      defaultItem: {
        name: '',
        measure: '',
        target: '',
        plan: '',
        fact: ''
      },
      rulesRequired: value => !!value || 'Обязательное поле'
    }
  },
  computed: {
    headers () { // заголовки таблицы пришлось за хардкодить, потому что их нет в базе данных, так было у Даниса
      const res = [
        { text: 'Показатель', value: 'name' },
        { text: 'Ед. изм.', value: 'measure' },
        { text: 'Значение целевое', value: 'target' },
        { text: 'Значение было', value: 'plan' },
        { text: 'Значение стало', value: 'fact' }]
      if (!this.readonly) { res.push({ text: 'Действия', value: 'actions', sortable: false }) }
      return res
    }
  },
  methods: {
    editItem (item) {
      this.editedIndex = this.newData.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.newData.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.newData.splice(this.editedIndex, 1)
      this.closeDelete()
      this.$emit('change', this.newData)
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.newData[this.editedIndex], this.editedItem)
      } else {
        this.newData.push(this.editedItem)
      }
      this.$emit('change', this.newData)
      this.close()
    }
  }

}
</script>

<style scoped>

</style>
