<template>
  <v-card>
    <v-card-title> {{ label }}</v-card-title>
    <v-card-text> {{ dateValue }} </v-card-text>
  </v-card>
</template>

<script>
export default {
  model: {
    prop: 'data'
  },
  props: {
    label: { type: String, required: false },
    data: { type: String }
  },
  computed: {
    dateValue () {
      const res = new Date(this.data)
      return res.toLocaleString('ru-RU')
    }
  }
}
</script>

<style scoped>

</style>
