<template>
  <v-autocomplete
      :items="newConsults"
      label="Выберите родительскую публикацию для кейса"
      item-text="title_article"
      item-value="id"
      :readonly="readonly"
      :rules="[value => (!!value || 'Выбрать родительскую публикацию обязательно')]"
      v-model="newData"/>
</template>

<script>
export default {
  model: {
    prop: 'selected',
    event: 'change'
  },
  props: {
    selected: { type: Number },
    readonly: { type: Boolean, required: false, default: () => false },
    consults: { type: Array, default: () => [] }
  },
  data () {
    return {
      newData: this.selected,
      newConsults: this.consults // .map(item => ({ text: item.title_article, value: item.id }))
    }
  },
  watch: {
    newData (newval, oldval) {
      if (newval !== oldval) { this.$emit('change', this.newData) }
    }
  },
  created () {
    console.log('FieldSelectParent this.consults ', this.consults, this.selected)
  }
}
</script>

<style scoped>

</style>
