<template>
    <v-text-field
      class="text-h5 font-weight-bold"
      v-model="newData"
      :readonly="readonly"
      label="Заголовок публикации"
      autofocus
      :rules="[value => (!!value || 'Наименование обязательно!')]"
    />
</template>

<script>
export default {
  model: {
    prop: 'data',
    event: 'change'
  },
  props: {
    data: { type: String, required: false, default: () => '' },
    readonly: { type: Boolean, required: false, default: () => false }
  },
  data () {
    return {
      newData: this.data
    }
  },
  watch: {
    newData (newval, oldval) {
      if (newval !== oldval) { this.$emit('change', this.newData) }
    }
  }
}
</script>

<style scoped>

</style>
