<template>
  <!--  Модуль обёртка для quill editor-->
  <div>
    <div>{{ label }}</div>
    <quill-editor
      ref="quill"
      v-model.lazy="newData"
      :options="quillEditorOption"
    />
  </div>
</template>

<script>
export default {
  model: {
    prop: 'data',
    event: 'change'
  },
  props: {
    label: { type: String, required: false },
    data: { type: String, required: false, default: () => '' },
    readonly: { type: Boolean, required: false, default: () => false }
  },
  data () {
    return {
      newData: this.data,
      quillEditorOption: {
        // Some Quill options...
        theme: 'snow',
        readOnly: this.readonly,
        placeholder: 'не заполнено',
        modules: {
          // toolbar: !this.readonly
        }
      }
    }
  },
  mounted () {
    if (this.readonly) this.$refs.quill.quill.disable()
    else this.$refs.quill.quill.enable()
  },
  watch: {
    newData (newval, oldval) {
      if (newval !== oldval) { this.$emit('change', this.newData) }
    },
    readonly (value) {
      if (value) this.$refs.quill.quill.disable()
      else this.$refs.quill.quill.enable()
    }
  }
}
</script>

<style scoped>

</style>
